@page "/explore/{code}"
@using NS.Shared.Models.Country
@using NS.Shared.Models.News
@using NS.WEB.Modules.Country.Components
@using NS.WEB.Modules.Country.Core
@using NS.WEB.Modules.Profile.Core
@using NS.Shared.Core.Helper

@inherits PageCore<CountryDetails>

@inject AllRegionsApi AllRegionsApi
@inject RegionsApi RegionsApi
@inject WishListApi WishApi

<SeoHeader Title="@Region?.customName" Description="@Region?.description" Url="@($"/country/{Code}")" Keywords="@([Region?.name])"></SeoHeader>
<PageHeader Title="@Region?.name" Subtitle="@Region?.customName" Description="@Region?.description" Image="@Region?.code.GetFlag()">
    <ActionFragment>
        @if (WishList != null)
        {
            @if (WishList?.Regions.Any(a => a == Region?.code) ?? false)
            {
                <MudTooltip Text="@Button.Remove">
                    <MudFab StartIcon="@IconsFA.Solid.Icon("minus").Font" Color="Color.Error" OnClick="@Remove" Size="AppStateStatic.Size">
                    </MudFab>
                </MudTooltip>
            }
            else
            {
                <MudTooltip Text="@Button.Add">
                    <MudFab StartIcon="@IconsFA.Solid.Icon("plus").Font" Color="Color.Primary" OnClick="@Add" Size="AppStateStatic.Size">
                    </MudFab>
                </MudTooltip>
            }
        }
    </ActionFragment>
</PageHeader>

<RenderControl TModel="RegionData" Model="RegionData" Core="CoreCountry" ExpressionEmpty="@((obj) => obj == null)">
    <PageSection Title="Scores">
        <BodyFragment>
            <MudTabs Border="true" Outlined="true" PanelClass="pt-2" MinimumTabWidth="100px">
                <MudTabPanel Tag="1" Text="Society and Government" Icon="@GetIntIcon(context.GetSocietyAndGovernmentScore())" IconColor="@GetColorIcon(context.GetSocietyAndGovernmentScore())">
                    <MudAlert Severity="Severity.Normal" Variant="Variant.Outlined" Dense="true" NoIcon="true" Class="mb-2" Style="text-align: justify;">
                        <MudText Typo="@(AppStateStatic.Size == Size.Small ? Typo.caption : Typo.body1)" Align="Align.Justify"
                                 Style="@($"line-height: {(IsDesktop ? "1.2" : "1.0")}; letter-spacing: {(IsDesktop ? "inherit" : "normal")};")">
                            This section provides insights into the societal and governmental aspects of the country, including corruption levels, human development, democracy indices, freedom of expression, and overall happiness. These metrics help to understand the quality of governance and social well-being in the nation.
                        </MudText>
                    </MudAlert>
                    <MudGrid Spacing="2">
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.CorruptionScore)" Value="context.CorruptionScore"></ItemData>
                        </MudItem>
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.HDI)" Value="context?.HDI"></ItemData>
                        </MudItem>
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.DMDemocracyIndex)" Value="context.DMDemocracyIndex"></ItemData>
                        </MudItem>
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.DMClassification)" Value="context.DMClassification"></ItemData>
                        </MudItem>
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.EconomistDemocracyIndex)" Value="context.EconomistDemocracyIndex"></ItemData>
                        </MudItem>
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.EconomistRegimeType)" Value="context.EconomistRegimeType"></ItemData>
                        </MudItem>
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.FreedomExpressionIndex)" Value="context.FreedomExpressionIndex"></ItemData>
                        </MudItem>
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.FreedomScore)" Value="context.FreedomScore"></ItemData>
                        </MudItem>
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.CensorshipIndex)" Value="context.CensorshipIndex"></ItemData>
                        </MudItem>
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.HappinessIndex)" Value="context.HappinessIndex"></ItemData>
                        </MudItem>
                    </MudGrid>
                </MudTabPanel>
                <MudTabPanel Tag="2" Text="Economy" Icon="@GetIntIcon(context.GetEconomyScore())" IconColor="@GetColorIcon(context.GetEconomyScore())">
                    <MudAlert Severity="Severity.Normal" Variant="Variant.Outlined" Dense="true" NoIcon="true" Class="mb-2" Style="text-align: justify;">
                        <MudText Typo="@(AppStateStatic.Size == Size.Small ? Typo.caption : Typo.body1)" Align="Align.Justify"
                                 Style="@($"line-height: {(IsDesktop ? "1.2" : "1.0")}; letter-spacing: {(IsDesktop ? "inherit" : "normal")};")">
                            This section provides insights into the economic aspects of the country, including income levels, inequality, economic freedom, and overall GDP metrics. These indicators help to understand the financial health and opportunities within the nation.
                        </MudText>
                    </MudAlert>
                    <MudGrid Spacing="2">
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.OECD)" Value="RegionData?.OECD"></ItemData>
                        </MudItem>
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.GDP_PPP)" Value="RegionData?.GDP_PPP"></ItemData>
                        </MudItem>
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.GDP_Nominal)" Value="RegionData?.GDP_Nominal"></ItemData>
                        </MudItem>
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.EconomicFreedomIndex)" Value="RegionData?.EconomicFreedomIndex"></ItemData>
                        </MudItem>
                    </MudGrid>
                </MudTabPanel>
                <MudTabPanel Tag="3" Text="Security and Peace" Icon="@GetIntIcon(context.GetSecurityAndPeaceScore())" IconColor="@GetColorIcon(context.GetSecurityAndPeaceScore())">
                    <MudAlert Severity="Severity.Normal" Variant="Variant.Outlined" Dense="true" NoIcon="true" Class="mb-2" Style="text-align: justify;">
                        <MudText Typo="@(AppStateStatic.Size == Size.Small ? Typo.caption : Typo.body1)" Align="Align.Justify"
                                 Style="@($"line-height: {(IsDesktop ? "1.2" : "1.0")}; letter-spacing: {(IsDesktop ? "inherit" : "normal")};")">
                            This section provides insights into the security and peace aspects of the country, including public safety, crime perception, terrorism impact, and overall peacefulness. These indicators help to understand the stability and level of personal and national security within the nation.
                        </MudText>
                    </MudAlert>
                    <MudGrid Spacing="2">
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.TsaSafetyIndex)" Value="RegionData?.TsaSafetyIndex"></ItemData>
                        </MudItem>
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.NumbeoSafetyIndex)" Value="RegionData?.NumbeoSafetyIndex"></ItemData>
                        </MudItem>
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.GlobalTerrorismIndex)" Value="RegionData?.GlobalTerrorismIndex"></ItemData>
                        </MudItem>
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.GlobalPeaceIndex)" Value="RegionData?.GlobalPeaceIndex"></ItemData>
                        </MudItem>
                    </MudGrid>
                </MudTabPanel>
                <MudTabPanel Tag="4" Text="Environment and Health" Icon="@GetIntIcon(context.GetEnvironmentAndHealthScore())" IconColor="@GetColorIcon(context.GetEnvironmentAndHealthScore())">
                    <MudAlert Severity="Severity.Normal" Variant="Variant.Outlined" Dense="true" NoIcon="true" Class="mb-2" Style="text-align: justify;">
                        <MudText Typo="@(AppStateStatic.Size == Size.Small ? Typo.caption : Typo.body1)" Align="Align.Justify"
                                 Style="@($"line-height: {(IsDesktop ? "1.2" : "1.0")}; letter-spacing: {(IsDesktop ? "inherit" : "normal")};")">
                            This section provides insights into the environmental and health aspects of the country, including air quality, water quality, pollution levels, and overall environmental performance. These metrics help to understand the ecological health and sustainability efforts within the nation.
                        </MudText>
                    </MudAlert>
                    <MudGrid Spacing="2">
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.YaleWaterScore)" Value="RegionData?.YaleWaterScore"></ItemData>
                        </MudItem>
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.NumbeoPollutionIndex)" Value="RegionData?.NumbeoPollutionIndex"></ItemData>
                        </MudItem>
                    </MudGrid>
                </MudTabPanel>
                <MudTabPanel Tag="5" Text="Mobility and Tourism" Icon="@GetIntIcon(context.GetMobilityAndTourismScore())" IconColor="@GetColorIcon(context.GetMobilityAndTourismScore())">
                    <MudAlert Severity="Severity.Normal" Variant="Variant.Outlined" Dense="true" NoIcon="true" Class="mb-2" Style="text-align: justify;">
                        <MudText Typo="@(AppStateStatic.Size == Size.Small ? Typo.caption : Typo.body1)" Align="Align.Justify"
                                 Style="@($"line-height: {(IsDesktop ? "1.2" : "1.0")}; letter-spacing: {(IsDesktop ? "inherit" : "normal")};")">
                            This section provides insights into the mobility and tourism aspects of the country, including visa-free access, international arrivals, and overall travel friendliness. These indicators help to understand the ease of movement and attractiveness of the nation as a travel destination.
                        </MudText>
                    </MudAlert>
                    <MudGrid Spacing="2">
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.VisaFree)" Value="RegionData?.VisaFree" ShowEmoji="false"></ItemData>
                        </MudItem>
                        <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                            <ItemData For="@(() => context.TourismIndex)" Value="@(RegionData?.TourismIndex)"></ItemData>
                        </MudItem>
                    </MudGrid>
                </MudTabPanel>
            </MudTabs>
        </BodyFragment>
    </PageSection>

    <PageSection Title="Guide">
        <BodyFragment>
            <MudGrid Spacing="2">
                <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                    <ItemData For="@(() => context.ConflictLevel)" Value="context.ConflictLevel" ShowLabel="true"></ItemData>
                </MudItem>
                <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                    <ItemData For="@(() => context.ConflictForecast)" Value="context.ConflictForecast" ShowLabel="true"></ItemData>
                </MudItem>
                <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                    <MudChip T="string" Variant="Variant.Filled" Size="AppStateStatic.Size">
                        Risks
                    </MudChip>
                    <ItemIcon For="@(() => context.Risks.TransportTaxis)" Icon="@IconsFA.Solid.Icon("taxi").WithSize(IconSize.sm).Font" Color="GetColorRisk(context.Risks?.TransportTaxis)"></ItemIcon>
                    <ItemIcon For="@(() => context.Risks.Pickpockets)" Icon="@IconsFA.Solid.Icon("wallet").WithSize(IconSize.sm).Font" Color="GetColorRisk(context.Risks?.Pickpockets)"></ItemIcon>
                    <ItemIcon For="@(() => context.Risks.NaturalDisasters)" Icon="@IconsFA.Solid.Icon("fire").WithSize(IconSize.sm).Font" Color="GetColorRisk(context.Risks?.NaturalDisasters)"></ItemIcon>
                    <ItemIcon For="@(() => context.Risks.Mugging)" Icon="@IconsFA.Solid.Icon("people-robbery").WithSize(IconSize.sm).Font" Color="GetColorRisk(context.Risks?.Mugging)"></ItemIcon>
                    <ItemIcon For="@(() => context.Risks.Terrorism)" Icon="@IconsFA.Solid.Icon("person-rifle").WithSize(IconSize.sm).Font" Color="GetColorRisk(context.Risks?.Terrorism)"></ItemIcon>
                    <ItemIcon For="@(() => context.Risks.Scams)" Icon="@IconsFA.Solid.Icon("user-ninja").WithSize(IconSize.sm).Font" Color="GetColorRisk(context.Risks?.Scams)"></ItemIcon>
                    <ItemIcon For="@(() => context.Risks.WomenTravelers)" Icon="@IconsFA.Solid.Icon("person-dress").WithSize(IconSize.sm).Font" Color="GetColorRisk(context.Risks?.WomenTravelers)"></ItemIcon>
                    <ItemIcon For="@(() => context.Risks.TapWater)" Icon="@IconsFA.Solid.Icon("droplet").WithSize(IconSize.sm).Font" Color="GetColorRisk(context.Risks?.TapWater)"></ItemIcon>
                </MudItem>
                <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                    <ItemsData For="@(() => context.TaxiApps)" Values="context.TaxiApps" OnlyIcon="true"></ItemsData>
                </MudItem>
                <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                    <ItemsData For="@(() => context.Languages)" Values="context.Languages" OnlyText="true"></ItemsData>
                </MudItem>
            </MudGrid>

            @*  <MudGrid Spacing="3">
            <MudItem xs="12" sm="6">
                <ItemData Name="@Field.Name.GetName()" Value="Country?.Name"></ItemData>
                <ItemData Name="@Field.FullName.GetName()" Value="Country?.FullName"></ItemData>
                <ItemData Name="@Field.Capital.GetName()" Value="Country?.Capital"></ItemData>
                <ItemData Name="@Field.Region.GetName()" Value="Country?.Region"></ItemData>
                <ItemData Name="@Field.Subregion.GetName()" Value="Country?.Subregion"></ItemData>
                <ItemData Name="@Field.Population.GetName()" Value="Country?.Population" ShowEmoji="false"></ItemData>
                <ItemData Name="@Field.Area.GetName()" Value="Country?.Area" ShowEmoji="false"></ItemData>
                <ItemData Name="@Field.Languages.GetName()" Value="string.Join(" , ", Country?.Languages ?? [])"></ItemData>
            </MudItem>
            <MudItem xs="12" sm="6">
                <ItemData Name="@Field.Currency.GetName()" Value="Country?.Currency"></ItemData>
                <ItemData Name="@Field.CurrencyCode.GetName()" Value="Country?.CurrencyCode"></ItemData>
                <ItemData Name="@Field.Timezones.GetName()" Value="string.Join(" , ", Country?.Timezones ?? [])"></ItemData>
                <ItemData Name="@Field.DrivingSide.GetName()" Value="Country?.DrivingSide"></ItemData>
                <ItemData Name="@Field.InternetTLD.GetName()" Value="string.Join(" , ", Country?.InternetTLD ?? [])"></ItemData>
                <ItemData Name="@Field.CallingCodes.GetName()" Value="string.Join(" , ", Country?.CallingCodes ?? [])" ShowEmoji="false"></ItemData>
                <ItemData Name="@Field.Flag.GetName()" Value="Country?.Flag" IsImage="true" ShowEmoji="false"></ItemData>
            </MudItem>
        </MudGrid> *@
        </BodyFragment>
    </PageSection>

    <PageSection Title="Cost of Living">
        <BodyFragment>
            <MudGrid Spacing="2">
                <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                    <ItemData For="@(() => context.AptCityCenter)" Value="RegionData?.AptCityCenter?.Avg"></ItemData>
                </MudItem>
                <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                    <ItemData For="@(() => context.AptOutsideCenter)" Value="RegionData?.AptOutsideCenter?.Avg"></ItemData>
                </MudItem>
                <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                    <ItemData For="@(() => context.Meal)" Value="RegionData?.Meal?.Avg"></ItemData>
                </MudItem>
                <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                    <ItemData For="@(() => context.MarketWestern)" Value="@(RegionData?.MarketWestern?.Avg * 31)"></ItemData>
                </MudItem>
                <MudItem xs="6" sm="4" md="3" xl="2" Style="padding-top: 4px;">
                    <ItemData For="@(() => context.MarketAsian)" Value="@(RegionData?.MarketAsian?.Avg * 31)"></ItemData>
                </MudItem>
            </MudGrid>

        </BodyFragment>
    </PageSection>
</RenderControl>

<MudGrid Spacing="3">
    <MudItem xs="12" md="6">
        @if (Region != null)
        {
            <WeatherComponent City="@Region?.capital"></WeatherComponent>
        }
    </MudItem>
    <MudItem xs="12" md="6">
        <NewsComponent Code="@Code"></NewsComponent>
    </MudItem>
</MudGrid>

<div style="position: fixed; bottom: 16px; right: 16px; display: flex; z-index: 1000;">
    <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.ArrowBack" Size="AppStateStatic.Size" OnClick="@(() => JsRuntime.Window().HistoryBack())" />
</div>

@code {
    [Parameter] public required string Code { get; set; }

    public RenderControlCore<RegionData?> CoreCountry { get; set; } = new();
    public RegionData? RegionData { get; set; }

    private AllRegions? AllRegions { get; set; }
    private RegionModel? Region => AllRegions?.Items.SingleOrDefault(r => r.code!.Equals(Code, StringComparison.InvariantCultureIgnoreCase));

    public WishList? WishList { get; set; }

    private bool IsDesktop => Breakpoint > Breakpoint.Xs;
    private readonly string _gallerySwiperId = $"swiper-{Guid.NewGuid()}";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await base.OnAfterRenderAsync(firstRender);

            await JsRuntime.Swiper().InitNews(_gallerySwiperId);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    protected override async Task LoadEssentialDataAsync()
    {
        AllRegions = await AllRegionsApi.GetAll(null);
        RegionData = await RegionsApi.GetRegion(Code, CoreCountry);
    }

    protected override async Task LoadAuthDataAsync()
    {
        WishList = await WishApi.Get(AppStateStatic.IsAuthenticated, null); WishList ??= new WishList();
    }

    public Color GetColorRisk(Level? level)
    {
        if (level == Level.Low) return Color.Success;
        else if (level == Level.Medium) return Color.Warning;
        else if (level == Level.High) return Color.Error;
        else return Color.Default;
    }

    private string GetIntIcon(int? value)
    {
        if (value == null || value == 0) return IconsFA.Solid.Icon("xmark").Font;

        if (value >= 800) return IconsFA.Solid.Icon("face-grin-stars").Font;
        else if (value >= 600) return IconsFA.Solid.Icon("face-smile-beam").Font;
        else if (value >= 400) return IconsFA.Solid.Icon("face-meh").Font;
        else if (value >= 200) return IconsFA.Solid.Icon("face-frown").Font;
        else return IconsFA.Solid.Icon("face-dizzy").Font;
    }

    private Color GetColorIcon(int? value)
    {
        if (value == null || value == 0) return Color.Default;

        if (value >= 800) return Color.Success;
        else if (value >= 600) return Color.Success;
        else if (value >= 400) return Color.Warning;
        else if (value >= 200) return Color.Error;
        else return Color.Error;
    }

    private async Task Add()
    {
        try
        {
            if (!AppStateStatic.IsAuthenticated)
            {
                await ShowWarning(GlobalTranslations.YouMustLogged);
                return;
            }

            var client = await PrincipalApi.Get(true);
            WishList = await WishApi.Add(WishList, Region?.code, client?.GetActiveSubscription());
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task Remove()
    {
        try
        {
            if (!AppStateStatic.IsAuthenticated)
            {
                await ShowWarning(GlobalTranslations.YouMustLogged);
                return;
            }

            WishList = await WishApi.Remove(Region?.code);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }
}
