@page "/country/{code}"
@using NS.Shared.Models.Country
@using NS.Shared.Models.News
@using NS.WEB.Modules.Country.Components
@using NS.WEB.Modules.Country.Core

@inherits PageCore<CountryDetails>

@inject CountriesApi CountriesApi
@inject CacheGoogleNewsApi CacheGoogleNewsApi
@inject IJSRuntime JS

<SeoHeader Title="@Country?.CustomName" Description="@Country?.Description" Url="@($"/country/{Code}")" Keywords="@([Country?.Name])"></SeoHeader>
<PageHeader Title="@Country?.Name" Subtitle="@Country?.CustomName" Description="@Country?.Description" Image="@Country?.Flag"></PageHeader>

<PageSection Title="Scores">
    <BodyFragment>
        <MudTabs Border="true" Outlined="true" PanelClass="pt-2" MinimumTabWidth="100px">
            <MudTabPanel Tag="1" Text="Society and Government">
                <MudAlert Severity="Severity.Normal" Variant="Variant.Outlined" Dense="true" NoIcon="true" Class="mb-2" Style="text-align: justify;">
                    <MudText Typo="@(AppStateStatic.Size == Size.Small ? Typo.caption : Typo.body1)" Align="Align.Justify"
                             Style="@($"line-height: {(IsDesktop ? "1.2" : "1.0")}; letter-spacing: {(IsDesktop ? "inherit" : "normal")};")">
                        This section provides insights into the societal and governmental aspects of the country, including corruption levels, human development, democracy indices, freedom of expression, and overall happiness. These metrics help to understand the quality of governance and social well-being in the nation.
                    </MudText>
                </MudAlert>
                <ItemData Name="@Field.CorruptionScore.GetName()" Value="CountryData?.CorruptionScore"></ItemData>
                <ItemData Name="@Field.HDI.GetName()" Value="CountryData?.HDI"></ItemData>
                <ItemData Name="@Field.DMDemocracyIndex.GetName()" Value="CountryData?.DMDemocracyIndex"></ItemData>
                <ItemData Name="@Field.DMClassification.GetName()" Value="CountryData?.DMClassification" Inverted="true"></ItemData>
                <ItemData Name="@Field.EconomistDemocracyIndex.GetName()" Value="CountryData?.EconomistDemocracyIndex"></ItemData>
                <ItemData Name="@Field.EconomistRegimeType.GetName()" Value="CountryData?.EconomistRegimeType" Inverted="true"></ItemData>
                <ItemData Name="@Field.FreedomExpressionIndex.GetName()" Value="CountryData?.FreedomExpressionIndex"></ItemData>
                <ItemData Name="@Field.FreedomScore.GetName()" Value="CountryData?.FreedomScore"></ItemData>
                <ItemData Name="@Field.CensorshipIndex.GetName()" Value="CountryData?.CensorshipIndex" Inverted="true"></ItemData>
                <ItemData Name="@Field.HappinessIndex.GetName()" Value="CountryData?.HappinessIndex"></ItemData>
            </MudTabPanel>
            <MudTabPanel Tag="2" Text="Economy">
                <MudAlert Severity="Severity.Normal" Variant="Variant.Outlined" Dense="true" NoIcon="true" Class="mb-2" Style="text-align: justify;">
                    <MudText Typo="@(AppStateStatic.Size == Size.Small ? Typo.caption : Typo.body1)" Align="Align.Justify"
                             Style="@($"line-height: {(IsDesktop ? "1.2" : "1.0")}; letter-spacing: {(IsDesktop ? "inherit" : "normal")};")">
                        This section provides insights into the economic aspects of the country, including income levels, inequality, economic freedom, and overall GDP metrics. These indicators help to understand the financial health and opportunities within the nation.
                    </MudText>
                </MudAlert>
                <ItemData Name="@Field.OECD.GetName()" Value="CountryData?.OECD"></ItemData>
                <ItemData Name="@Field.GDP_PPP.GetName()" Value="CountryData?.GDP_PPP"></ItemData>
                <ItemData Name="@Field.GDP_Nominal.GetName()" Value="CountryData?.GDP_Nominal"></ItemData>
                <ItemData Name="@Field.EconomicFreedomIndex.GetName()" Value="CountryData?.EconomicFreedomIndex"></ItemData>
            </MudTabPanel>
            <MudTabPanel Tag="3" Text="Security and Peace">
                <MudAlert Severity="Severity.Normal" Variant="Variant.Outlined" Dense="true" NoIcon="true" Class="mb-2" Style="text-align: justify;">
                    <MudText Typo="@(AppStateStatic.Size == Size.Small ? Typo.caption : Typo.body1)" Align="Align.Justify"
                             Style="@($"line-height: {(IsDesktop ? "1.2" : "1.0")}; letter-spacing: {(IsDesktop ? "inherit" : "normal")};")">
                        This section provides insights into the security and peace aspects of the country, including public safety, crime perception, terrorism impact, and overall peacefulness. These indicators help to understand the stability and level of personal and national security within the nation.
                    </MudText>
                </MudAlert>
                <ItemData Name="@Field.TsaSafetyIndex.GetName()" Value="CountryData?.TsaSafetyIndex"></ItemData>
                <ItemData Name="@Field.NumbeoSafetyIndex.GetName()" Value="CountryData?.NumbeoSafetyIndex"></ItemData>
                <ItemData Name="@Field.GlobalTerrorismIndex.GetName()" Value="CountryData?.GlobalTerrorismIndex" Inverted="true"></ItemData>
                <ItemData Name="@Field.GlobalPeaceIndex.GetName()" Value="CountryData?.GlobalPeaceIndex" Inverted="true"></ItemData>
            </MudTabPanel>
            <MudTabPanel Tag="4" Text="Environment and Health">
                <MudAlert Severity="Severity.Normal" Variant="Variant.Outlined" Dense="true" NoIcon="true" Class="mb-2" Style="text-align: justify;">
                    <MudText Typo="@(AppStateStatic.Size == Size.Small ? Typo.caption : Typo.body1)" Align="Align.Justify"
                             Style="@($"line-height: {(IsDesktop ? "1.2" : "1.0")}; letter-spacing: {(IsDesktop ? "inherit" : "normal")};")">
                        This section provides insights into the environmental and health aspects of the country, including air quality, water quality, pollution levels, and overall environmental performance. These metrics help to understand the ecological health and sustainability efforts within the nation.
                    </MudText>
                </MudAlert>
                <ItemData Name="@Field.YaleWaterScore.GetName()" Value="CountryData?.YaleWaterScore"></ItemData>
                <ItemData Name="@Field.NumbeoPollutionIndex.GetName()" Value="CountryData?.NumbeoPollutionIndex" Inverted="true"></ItemData>
            </MudTabPanel>
            <MudTabPanel Tag="5" Text="Mobility and Tourism">
                <MudAlert Severity="Severity.Normal" Variant="Variant.Outlined" Dense="true" NoIcon="true" Class="mb-2" Style="text-align: justify;">
                    <MudText Typo="@(AppStateStatic.Size == Size.Small ? Typo.caption : Typo.body1)" Align="Align.Justify"
                             Style="@($"line-height: {(IsDesktop ? "1.2" : "1.0")}; letter-spacing: {(IsDesktop ? "inherit" : "normal")};")">
                        This section provides insights into the mobility and tourism aspects of the country, including visa-free access, international arrivals, and overall travel friendliness. These indicators help to understand the ease of movement and attractiveness of the nation as a travel destination.
                    </MudText>
                </MudAlert>
                <ItemData Name="@Field.VisaFree.GetName()" Value="CountryData?.VisaFree" ShowEmoji="false"></ItemData>
                <ItemData Name="@Field.InternationalArrivals.GetName()" Value="CountryData?.InternationalArrivals" ShowEmoji="false"></ItemData>
            </MudTabPanel>
        </MudTabs>
    </BodyFragment>
</PageSection>

<PageSection Title="Guide">
    <BodyFragment>
        <ItemsData Name="Taxi Apps" Values="CountryData?.TaxiApps"></ItemsData>
        @*  <MudGrid Spacing="3">
            <MudItem xs="12" sm="6">
                <ItemData Name="@Field.Name.GetName()" Value="Country?.Name"></ItemData>
                <ItemData Name="@Field.FullName.GetName()" Value="Country?.FullName"></ItemData>
                <ItemData Name="@Field.Capital.GetName()" Value="Country?.Capital"></ItemData>
                <ItemData Name="@Field.Region.GetName()" Value="Country?.Region"></ItemData>
                <ItemData Name="@Field.Subregion.GetName()" Value="Country?.Subregion"></ItemData>
                <ItemData Name="@Field.Population.GetName()" Value="Country?.Population" ShowEmoji="false"></ItemData>
                <ItemData Name="@Field.Area.GetName()" Value="Country?.Area" ShowEmoji="false"></ItemData>
                <ItemData Name="@Field.Languages.GetName()" Value="string.Join(" , ", Country?.Languages ?? [])"></ItemData>
            </MudItem>
            <MudItem xs="12" sm="6">
                <ItemData Name="@Field.Currency.GetName()" Value="Country?.Currency"></ItemData>
                <ItemData Name="@Field.CurrencyCode.GetName()" Value="Country?.CurrencyCode"></ItemData>
                <ItemData Name="@Field.Timezones.GetName()" Value="string.Join(" , ", Country?.Timezones ?? [])"></ItemData>
                <ItemData Name="@Field.DrivingSide.GetName()" Value="Country?.DrivingSide"></ItemData>
                <ItemData Name="@Field.InternetTLD.GetName()" Value="string.Join(" , ", Country?.InternetTLD ?? [])"></ItemData>
                <ItemData Name="@Field.CallingCodes.GetName()" Value="string.Join(" , ", Country?.CallingCodes ?? [])" ShowEmoji="false"></ItemData>
                <ItemData Name="@Field.Flag.GetName()" Value="Country?.Flag" IsImage="true" ShowEmoji="false"></ItemData>
            </MudItem>
        </MudGrid> *@
    </BodyFragment>
</PageSection>

<MudGrid Spacing="3">
    <MudItem xs="12" sm="6">
    </MudItem>
    <MudItem xs="12" sm="6">
        <NewsComponent Code="@Code"></NewsComponent>
    </MudItem>
</MudGrid>

<div style="position: fixed; bottom: 16px; right: 16px; display: flex; z-index: 1000;">
    <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.ArrowBack" Size="AppStateStatic.Size" OnClick="@(() => JS.InvokeVoidAsync("history.back"))" />
</div>


@code {
    [Parameter] public required string Code { get; set; }

    private List<EnumObjectCountry<NS.Shared.Enums.Country>> Countries { get; set; } = [];
    private EnumObjectCountry<NS.Shared.Enums.Country>? Country => Countries?.FirstOrDefault(p => p.Value.ToString().ToLower() == Code.ToLower());

    public CountryData? CountryData { get; set; }

    public RenderControlCore<CacheDocument<NewsModel>?> Core { get; set; } = new();
    private CacheDocument<NewsModel>? NewsList { get; set; }

    private bool IsDesktop => Breakpoint > Breakpoint.Xs;
    private readonly string _gallerySwiperId = $"swiper-{Guid.NewGuid()}";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await base.OnAfterRenderAsync(firstRender);

            await JS.InvokeVoidAsync("initCalendar", _gallerySwiperId);
        }
        catch (Exception ex)
        {
            ex.ProcessException(Snackbar, Logger);
        }
    }

    protected override async Task LoadEssentialDataAsync()
    {
        Countries = EnumHelper.GetListCountry<NS.Shared.Enums.Country>();
        CountryData = await CountriesApi.GetCountry(Code);
        NewsList = await CacheGoogleNewsApi.GetNews(Code, "compact", Core);
    }

    public Color GetColor(Section? category)
    {
        var perc = 100;//Affinities.GetPercentAffinity(category);

        if (perc >= 80)
        {
            return Color.Success;
        }

        if (perc >= 60)
        {
            return Color.Warning;
        }

        return Color.Error;
    }

    public Severity GetSeverity(Section? category)
    {
        var perc = 100;//Affinities.GetPercentAffinity(category);

        if (perc >= 80)
        {
            return Severity.Success;
        }

        if (perc >= 60)
        {
            return Severity.Warning;
        }

        return Severity.Error;
    }

    public string? GetIcon(Section? category)
    {
        var perc = 100;//Affinities.GetPercentAffinity(category);

        if (perc >= 80)
        {
            return IconsFA.Solid.Icon("face-smile").WithAnimation(category == null ? IconAnimation.Bounce : IconAnimation.None).Font;
        }

        if (perc >= 60)
        {
            return IconsFA.Solid.Icon("face-meh").WithAnimation(category == null ? IconAnimation.Beat : IconAnimation.None).Font;
        }

        return IconsFA.Solid.Icon("face-frown").WithAnimation(category == null ? IconAnimation.Fade : IconAnimation.None).Font;
    }
}
