@inherits ComponentCore<NextDestinationsComponent>

@using NS.WEB.Modules.Profile.Core
@using SD.WEB.Shared.Core

@inject NextDestinationsApi NextDestinationsApi

<NewPageSection Icon="@IconsFA.Solid.Icon("plane-circle-check").Font" Title="Next Destinations">
    <ActionsFragment>
        <MudButton StartIcon="@IconsFA.Solid.Icon("plus").Font" Variant="Variant.Filled" Color="Color.Primary" OnClick="@Add">
            @Button.Add
        </MudButton>
        <MudSpacer></MudSpacer>
        <MudIconButton Icon="@IconsFA.Solid.Icon("expand").Font" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => { Navigation.NavigateTo("profile/next-destinations"); })" />
    </ActionsFragment>
    <BodyFragment>
        <RenderControl Actions="Actions">
            <div id="@_swiper" class="swiper">
                <div class="swiper-wrapper">
                    @foreach (var item in NextDestinations?.Items ?? [])
                    {
                        var duration = item.EndDate.ToDateTime(TimeOnly.MinValue) - item.StartDate.ToDateTime(TimeOnly.MinValue);

                        <div class="swiper-slide" style="height: auto !important;">
                            <div style="position: relative;">
                                <MudCard Outlined="true">
                                    <MudCardMedia Image="@item?.RegionCode.GetFlag()" Height="100" />
                                    <MudChip T="string" Label="true" Class="poster-chip" Style="top: 0; left: 0;" Size="AppStateStatic.Size" Color="Color.Info">
                                        @item?.StartDate.ToShortDateString()
                                    </MudChip>
                                    <MudChip T="string" Label="true" Class="poster-chip" Style="top: 24px; left: 0;" Size="AppStateStatic.Size" Color="Color.Info">
                                        @duration.Humanize(2, minUnit: TimeUnit.Day, maxUnit: TimeUnit.Year)
                                    </MudChip>
                                    <MudCardHeader Style="text-align: initial;">
                                        <CardHeaderContent>
                                            <MudText Typo="Typo.body1" Color="Color.Secondary">@item?.RegionName</MudText>
                                            <MudText Typo="Typo.body2">@(item?.CityName ?? "-")</MudText>
                                        </CardHeaderContent>
                                    </MudCardHeader>
                                    <MudCardActions Style="align-self: center;">
                                        <MudTooltip Text="Update">
                                            <MudIconButton Icon="@IconsFA.Solid.Icon("pencil").Font" OnClick="@(() => Update(item))" />
                                        </MudTooltip>
                                        <MudTooltip Text="Delete">
                                            <MudIconButton Icon="@IconsFA.Solid.Icon("trash").Font" OnClick="@(() => Delete(item))" />
                                        </MudTooltip>
                                        <MudTooltip Text="Finalize Travel">
                                            <MudIconButton Icon="@IconsFA.Solid.Icon("check").Font" OnClick="@(() => FinalizeTravel(item))" />
                                        </MudTooltip>
                                    </MudCardActions>
                                </MudCard>
                            </div>
                        </div>
                    }
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </RenderControl>
    </BodyFragment>
</NewPageSection>

@code {
    [Parameter] public AllRegions? AllRegions { get; set; }
    [Parameter] public ComponentActions<NextDestinations?> Actions { get; set; } = new(obj => obj == null || obj.Items.Empty());

    public NextDestinations? NextDestinations { get; set; }

    private readonly string _swiper = $"swiper-{Guid.NewGuid()}";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        NextDestinationsApi.DataChanged += async (data) =>
        {
            NextDestinations = data;
            Actions.CurrentInstance = data;
            await Actions.FinishLoading.Invoke(data);
            StateHasChanged();
        };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await base.OnAfterRenderAsync(firstRender);

            await JsRuntime.Swiper().InitLists(_swiper, 200);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    protected override async Task LoadAuthDataAsync()
    {
        await Actions.StartLoading.Invoke(null);
        NextDestinations = await NextDestinationsApi.Get(AppStateStatic.IsAuthenticated);
        await Actions.FinishLoading.Invoke(NextDestinations);
    }

    private async Task Add()
    {
        try
        {
            if (!AppStateStatic.IsAuthenticated)
            {
                await ShowWarning(GlobalTranslations.YouMustLogged);
                return;
            }

            var parameters = new DialogParameters<NextDestinationsPopup>
            {
                { x => x.AllRegions, AllRegions },
                { x => x.NextDestinations, NextDestinations },
            };

            await DialogService.ShowAsync<NextDestinationsPopup>("Next Destinations", parameters, PopupHelper.Options(MaxWidth.Small));
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task Update(NextDestinationsEntry? entry)
    {
        try
        {
            var parameters = new DialogParameters<NextDestinationsPopup>
            {
                { x => x.AllRegions, AllRegions },
                { x => x.NextDestinations, NextDestinations },
                { x => x.Entry, entry?.DeepClone() },
            };

            await DialogService.ShowAsync<NextDestinationsPopup>("Next Destinations", parameters, PopupHelper.Options(MaxWidth.Small));
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task Delete(NextDestinationsEntry? entry, bool confirm = true)
    {
        try
        {
            var confirmed = false;

            if (confirm)
                confirmed = await DialogService.ShowMessageBoxAsync(SeoTranslations.AppName, GlobalTranslations.SureDelete, Button.Ok, Button.Cancel) ?? false;
            else
                confirmed = true;

            if (confirmed)
            {
                NextDestinations = await NextDestinationsApi.Remove(entry?.Id);
            }
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task FinalizeTravel(NextDestinationsEntry? entry)
    {
        try
        {
            if (!AppStateStatic.IsAuthenticated)
            {
                await ShowWarning(GlobalTranslations.YouMustLogged);
                return;
            }

            var parameters = new DialogParameters<TravelHistoryPopup>
            {
                { x => x.AllRegions, AllRegions },
                { x => x.Entry, new  TravelHistoryEntry { RegionCode = entry?.RegionCode, CityCode = entry?.CityCode, Notes = entry?.Notes } },
                { x => x.PostSave, async (model) => await Delete(entry, false) }
            };

            await DialogService.ShowAsync<TravelHistoryPopup>("Travel History", parameters, PopupHelper.Options(MaxWidth.Small));
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }
}
