@inherits ComponentCore<NextDestinationsComponent>

@using NS.WEB.Modules.Profile.Core

@inject NextDestinationsApi NextDestinationsApi

<PageSection Icon="@IconsFA.Solid.Icon("plane-circle-check").Font" Title="Next Destinations">
    <ActionFragment>
        <MudIconButton Icon="@IconsFA.Solid.Icon("plus").Font" Variant="Variant.Filled" Color="Color.Primary" OnClick="@Add" Size="AppStateStatic.Size" />
    </ActionFragment>
    <BodyFragment>
        <NewRenderControl Instance="NextDestinations" ExpressionEmpty="@((obj) => obj == null || obj.Items.Empty())" Actions="NextDestinationsActions">
            <div class="grid-relative-container-flag">
                @foreach (var item in NextDestinations?.Items ?? [])
                {
                    @* var duration = item.EndDate.ToDateTime(TimeOnly.MinValue) - item.StartDate.ToDateTime(TimeOnly.MinValue); *@
                    <div style="position: relative;">
                        <MudCard Outlined="true">
                            <MudCardContent Class="pa-0" Style="height: 80px; overflow: hidden;">
                                <MudImage Src="@item?.RegionCode.GetFlag()" Style="width: 100%; height: 100%;" ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center" />
                                <MudChip T="string" Label="true" Class="poster-chip" Style="top: 0; left: 0;" Size="AppStateStatic.Size" Color="Color.Primary">
                                    @item?.StartDate.ToShortDateString()
                                </MudChip>
                            </MudCardContent>
                            <MudCardContent Style="text-align: center; padding: 4px; line-height: normal; font-size: 0.73rem; min-height: 46px">
                                <MudText Class="custom-title-list">
                                    @(item.CityName.NotEmpty() ? $"{item.RegionName} - {item.CityName}" : item.RegionName)
                                </MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudToolBar Dense="true">
                                    <MudIconButton Icon="@IconsFA.Solid.Icon("pencil").Font" OnClick="@(() => Update(item))" Size="AppStateStatic.Size" />
                                    <MudIconButton Icon="@IconsFA.Solid.Icon("trash").Font" OnClick="@(() => Delete(item))" Size="AppStateStatic.Size" />
                                </MudToolBar>
                            </MudCardActions>
                        </MudCard>
                    </div>
                }
            </div>
        </NewRenderControl>
    </BodyFragment>
</PageSection>

@code {
    [Parameter] public AllRegions? AllRegions { get; set; }

    public NextDestinations? NextDestinations { get; set; }
    private readonly ComponentActions<NextDestinations?> NextDestinationsActions = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        NextDestinationsApi.DataChanged += (data) => { NextDestinations = data; StateHasChanged(); };
    }

    protected override async Task LoadAuthDataAsync()
    {
        NextDestinationsActions.StartLoading?.Invoke(null);
        NextDestinations = await NextDestinationsApi.Get(AppStateStatic.IsAuthenticated);
        NextDestinationsActions.FinishLoading?.Invoke(NextDestinations);
    }

    private async Task Add()
    {
        try
        {
            if (!AppStateStatic.IsAuthenticated)
            {
                await ShowWarning(GlobalTranslations.YouMustLogged);
                return;
            }

            var parameters = new DialogParameters<NextDestinationsPopup>
            {
                { x => x.AllRegions, AllRegions },
                { x => x.NextDestinations, NextDestinations },
            };

            await DialogService.ShowAsync<NextDestinationsPopup>("Next Destinations", parameters, PopupHelper.Options(MaxWidth.Small));
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task Update(NextDestinationsEntry entry)
    {
        try
        {
            var parameters = new DialogParameters<NextDestinationsPopup>
            {
                { x => x.AllRegions, AllRegions },
                { x => x.NextDestinations, NextDestinations },
                { x => x.Entry, entry.DeepClone() },
            };

            await DialogService.ShowAsync<NextDestinationsPopup>("Next Destinations", parameters, PopupHelper.Options(MaxWidth.Small));
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task Delete(NextDestinationsEntry entry)
    {
        try
        {
            if (await DialogService.ShowMessageBox(SeoTranslations.AppName, GlobalTranslations.SureDelete, Button.Ok, Button.Cancel) ?? false)
            {
                NextDestinations = await NextDestinationsApi.Remove(entry.Id);
            }
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }
}
