@inherits ComponentCore<WishlistComponent>

@using NS.WEB.Modules.Profile.Core

@inject WishListApi WishListApi

<NewPageSection Icon="@IconsFA.Solid.Icon("plane-circle-exclamation").Font" Title="Wishlist">
    <ActionsFragment>
        <MudButton StartIcon="@IconsFA.Solid.Icon("plus").Font" Variant="Variant.Filled" Color="Color.Primary" OnClick="@Add">
            @Button.Add
        </MudButton>
    </ActionsFragment>
    <BodyFragment>
        <NewRenderControl Instance="WishList" ExpressionEmpty="@((obj) => obj == null || obj.Items.Empty())" Actions="WishListActions">
            <div class="grid-relative-container-flag">
                @foreach (var item in WishList?.Items ?? [])
                {
                    @* var duration = item.EndDate.ToDateTime(TimeOnly.MinValue) - item.StartDate.ToDateTime(TimeOnly.MinValue); *@
                    <div style="position: relative;">
                        <MudCard Outlined="true">
                            <MudCardContent Class="pa-0" Style="height: 80px; overflow: hidden;">
                                <MudImage Src="@item?.RegionCode.GetFlag()" Style="width: 100%; height: 100%;" ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center" />
                                @*  <MudChip T="string" Label="true" Class="poster-chip" Style="top: 0; left: 0;" Size="AppStateStatic.Size" Color="Color.Primary">
                                    @item?.StartDate.ToShortDateString()
                                </MudChip> *@
                            </MudCardContent>
                            <MudCardContent Style="text-align: center; padding: 4px; line-height: normal; font-size: 0.73rem; min-height: 46px">
                                <MudText Class="custom-title-list">
                                    @(item.CityName.NotEmpty() ? $"{item.RegionName} - {item.CityName}" : item.RegionName)
                                </MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudToolBar Dense="true">
                                    <MudIconButton Icon="@IconsFA.Solid.Icon("pencil").Font" OnClick="@(() => Update(item))" />
                                    <MudIconButton Icon="@IconsFA.Solid.Icon("trash").Font" OnClick="@(() => Delete(item))" />
                                </MudToolBar>
                            </MudCardActions>
                        </MudCard>
                    </div>
                }
            </div>
        </NewRenderControl>
    </BodyFragment>
</NewPageSection>

@code {
    [Parameter] public AllRegions? AllRegions { get; set; }

    public WishList? WishList { get; set; }
    private readonly ComponentActions<WishList?> WishListActions = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        WishListApi.DataChanged += (data) => { WishList = data; StateHasChanged(); };
    }

    protected override async Task LoadAuthDataAsync()
    {
        WishListActions.StartLoading?.Invoke(null);
        WishList = await WishListApi.Get(AppStateStatic.IsAuthenticated);
        WishListActions.FinishLoading?.Invoke(WishList);
    }

    private async Task Add()
    {
        try
        {
            if (!AppStateStatic.IsAuthenticated)
            {
                await ShowWarning(GlobalTranslations.YouMustLogged);
                return;
            }

            var parameters = new DialogParameters<WishlistPopup>
            {
                { x => x.AllRegions, AllRegions },
                { x => x.WishList, WishList },
            };

            await DialogService.ShowAsync<WishlistPopup>("Wishlist", parameters, PopupHelper.Options(MaxWidth.Small));
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task Update(WishListEntry entry)
    {
        try
        {
            var parameters = new DialogParameters<WishlistPopup>
            {
                { x => x.AllRegions, AllRegions },
                { x => x.WishList, WishList },
                { x => x.Entry, entry.DeepClone() },
            };

            await DialogService.ShowAsync<WishlistPopup>("Wishlist", parameters, PopupHelper.Options(MaxWidth.Small));
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task Delete(WishListEntry entry)
    {
        try
        {
            if (await DialogService.ShowMessageBox(SeoTranslations.AppName, GlobalTranslations.SureDelete, Button.Ok, Button.Cancel) ?? false)
            {
                WishList = await WishListApi.Remove(entry.Id);
            }
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }
}
