@inherits ComponentCore<WishlistComponent>

@using NS.WEB.Modules.Profile.Core
@using NS.WEB.Shared.Core

@inject WishListApi WishListApi

<PageSectionComponent Icon="@IconsFA.Solid.Icon("plane-circle-exclamation").Font" Title="@Translations.Title.Wishlist">
    <ActionsFragment>
        <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary" OnClick="@Add">
            @Translations.Button.Add
        </MudButton>
    </ActionsFragment>
    <BodyFragment>
        <RenderControl Actions="Actions">
             <Slider List="@(WishList?.Items ?? [])" Context="ctx">
                <div style="@($"width: {(IsMobile ? "150" : "200")}px;")">
                    <div style="position: relative;">
                        <MudCard Outlined="true">
                            <MudCardMedia Image="@ctx?.RegionCode.GetFlag()" Height="100" />
                            <MudCardHeader Style="text-align: initial;" Class="pa-2">
                                <CardHeaderContent>
                                    <MudText Typo="Typo.body1" Color="Color.Secondary">@ctx?.RegionName</MudText>
                                    <MudText Typo="Typo.body2">@(ctx?.CityName ?? "-")</MudText>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardActions Style="align-self: center;">
                                <MudTooltip Text="Update">
                                    <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="@(() => Update(ctx))" Size="Size.Small" />
                                </MudTooltip>
                                <MudTooltip Text="Delete">
                                    <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="@(() => Delete(ctx))" Size="Size.Small" />
                                </MudTooltip>
                                <MudTooltip Text="Confirm Next Destination">
                                    <MudIconButton Icon="@Icons.Material.Filled.Check" OnClick="@(() => ConfirmNextDestination(ctx))" Size="Size.Small" />
                                </MudTooltip>
                            </MudCardActions>
                        </MudCard>
                    </div>
                </div>
             </Slider>
        </RenderControl>
    </BodyFragment>
</PageSectionComponent>

@code {
    [Parameter] public AllRegions? AllRegions { get; set; }
    [Parameter] public ComponentActions<WishList?> Actions { get; set; } = new(obj => obj == null || obj.Items.Empty());

    public WishList? WishList { get; set; }

    private bool IsMobile => AppStateStatic.Breakpoint == Breakpoint.Xs;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        WishListApi.DataChanged += async (data) =>
        {
            WishList = data;
            Actions.CurrentInstance = data;
            await Actions.FinishLoading.Invoke(data);
            StateHasChanged();
        };
    }

    protected override async Task LoadAuthDataAsync(CancellationToken token)
    {
        Console.WriteLine($"{this} - LoadAuthDataAsync ({AppStateStatic.IsAuthenticated})");
        WishList = await WishListApi.Get(Actions, token);
    }

    private async Task Add()
    {
        try
        {
            if (!AppStateStatic.IsAuthenticated)
            {
                await ShowWarning(Translations.Notification.YouMustLogged);
                return;
            }

            var parameters = new DialogParameters<WishlistPopup>
            {
                { x => x.AllRegions, AllRegions },
                { x => x.WishList, WishList },
            };

            await DialogService.ShowAsync<WishlistPopup>("Wishlist", parameters, PopupHelper.Options(MaxWidth.Small));
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task Update(WishListEntry? entry)
    {
        try
        {
            var parameters = new DialogParameters<WishlistPopup>
            {
                { x => x.AllRegions, AllRegions },
                { x => x.WishList, WishList },
                { x => x.Entry, entry?.DeepClone() },
            };

            await DialogService.ShowAsync<WishlistPopup>("Wishlist", parameters, PopupHelper.Options(MaxWidth.Small));
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task Delete(WishListEntry? entry, bool confirm = true)
    {
        try
        {
            var confirmed = false;

            if (confirm)
                confirmed = await DialogService.ShowMessageBoxAsync(AppInfo.Title, Translations.Notification.SureDelete, Translations.Button.Ok, Translations.Button.Cancel) ?? false;
            else
                confirmed = true;

            if (confirmed)
            {
                WishList = await WishListApi.Remove(entry?.Id, cts.Token);
            }
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task ConfirmNextDestination(WishListEntry? entry)
    {
        try
        {
            if (!AppStateStatic.IsAuthenticated)
            {
                await ShowWarning(Translations.Notification.YouMustLogged);
                return;
            }

            var parameters = new DialogParameters<NextDestinationsPopup>
            {
                { x => x.AllRegions, AllRegions },
                { x => x.Entry, new NextDestinationsEntry{ RegionCode = entry?.RegionCode, CityCode = entry?.CityCode, CheckList = entry?.CheckList ?? [] } },
                { x => x.PostSave, async (model) => await Delete(entry, false) }
            };

            await DialogService.ShowAsync<NextDestinationsPopup>("Next Destinations", parameters, PopupHelper.Options(MaxWidth.Small));
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }
}
