@inherits ComponentCore<WishlistComponent>

@using NS.WEB.Modules.Profile.Core

@inject WishListApi WishListApi

<NewPageSection Icon="@IconsFA.Solid.Icon("plane-circle-exclamation").Font" Title="Wishlist">
    <ActionsFragment>
        <MudButton StartIcon="@IconsFA.Solid.Icon("plus").Font" Variant="Variant.Filled" Color="Color.Primary" OnClick="@Add">
            @Button.Add
        </MudButton>
    </ActionsFragment>
    <BodyFragment>
        <NewRenderControl Instance="WishList" ExpressionEmpty="@((obj) => obj == null || obj.Items.Empty())" Actions="Actions">
            <div id="@_swiper" class="swiper">
                <div class="swiper-wrapper">
                    @foreach (var item in WishList?.Items ?? [])
                    {
                        <div class="swiper-slide" style="height: auto !important;">
                            <div style="position: relative;">
                                <MudCard Outlined="true">
                                    <MudCardMedia Image="@item?.RegionCode.GetFlag()" Height="100" />
                                    <MudCardHeader Style="text-align: initial;">
                                        <CardHeaderContent>
                                            <MudText Typo="Typo.body1" Color="Color.Secondary">@item?.RegionName</MudText>
                                            <MudText Typo="Typo.body2">@(item?.CityName ?? "-")</MudText>
                                        </CardHeaderContent>
                                    </MudCardHeader>
                                    <MudCardActions Style="align-self: center;">
                                        <MudTooltip Text="Update">
                                            <MudIconButton Icon="@IconsFA.Solid.Icon("pencil").Font" OnClick="@(() => Update(item))" />
                                        </MudTooltip>
                                        <MudTooltip Text="Delete">
                                            <MudIconButton Icon="@IconsFA.Solid.Icon("trash").Font" OnClick="@(() => Delete(item))" />
                                        </MudTooltip>
                                        <MudTooltip Text="Confirm Next Destination">
                                            <MudIconButton Icon="@IconsFA.Solid.Icon("check").Font" OnClick="@(() => ConfirmNextDestination(item))" />
                                        </MudTooltip>
                                    </MudCardActions>
                                </MudCard>
                            </div>
                        </div>
                    }
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </NewRenderControl>
    </BodyFragment>
</NewPageSection>

@code {
    [Parameter] public AllRegions? AllRegions { get; set; }
    [Parameter] public ComponentActions<WishList?> Actions { get; set; } = new();

    public WishList? WishList { get; set; }

    private readonly string _swiper = $"swiper-{Guid.NewGuid()}";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        WishListApi.DataChanged += (data) => { WishList = data; Actions.FinishLoading?.Invoke(WishList); StateHasChanged(); };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await base.OnAfterRenderAsync(firstRender);

            await JsRuntime.Swiper().InitLists(_swiper, 200);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    protected override async Task LoadAuthDataAsync()
    {
        Actions.StartLoading?.Invoke(null);
        WishList = await WishListApi.Get(AppStateStatic.IsAuthenticated);
        Actions.FinishLoading?.Invoke(WishList);
    }

    private async Task Add()
    {
        try
        {
            if (!AppStateStatic.IsAuthenticated)
            {
                await ShowWarning(GlobalTranslations.YouMustLogged);
                return;
            }

            var parameters = new DialogParameters<WishlistPopup>
            {
                { x => x.AllRegions, AllRegions },
                { x => x.WishList, WishList },
            };

            await DialogService.ShowAsync<WishlistPopup>("Wishlist", parameters, PopupHelper.Options(MaxWidth.Small));
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task Update(WishListEntry? entry)
    {
        try
        {
            var parameters = new DialogParameters<WishlistPopup>
            {
                { x => x.AllRegions, AllRegions },
                { x => x.WishList, WishList },
                { x => x.Entry, entry?.DeepClone() },
            };

            await DialogService.ShowAsync<WishlistPopup>("Wishlist", parameters, PopupHelper.Options(MaxWidth.Small));
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task Delete(WishListEntry? entry, bool confirm = true)
    {
        try
        {
            var confirmed = false;

            if (confirm)
                confirmed = await DialogService.ShowMessageBoxAsync(SeoTranslations.AppName, GlobalTranslations.SureDelete, Button.Ok, Button.Cancel) ?? false;
            else
                confirmed = true;

            if (confirmed)
            {
                WishList = await WishListApi.Remove(entry?.Id);
            }
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task ConfirmNextDestination(WishListEntry? entry)
    {
        try
        {
            if (!AppStateStatic.IsAuthenticated)
            {
                await ShowWarning(GlobalTranslations.YouMustLogged);
                return;
            }

            var parameters = new DialogParameters<NextDestinationsPopup>
            {
                { x => x.AllRegions, AllRegions },
                { x => x.Entry, new NextDestinationsEntry{ RegionCode = entry?.RegionCode, CityCode = entry?.CityCode, CheckList = entry?.CheckList ?? [] } },
                { x => x.PostSave, async (model) => await Delete(entry, false) }
            };

            await DialogService.ShowAsync<NextDestinationsPopup>("Next Destinations", parameters, PopupHelper.Options(MaxWidth.Small));
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }
}
