@using System.Linq.Expressions
@using System.Globalization

@typeparam TValue

<MudChip T="string" Variant="Variant.Outlined" Size="AppStateStatic.Size" Color="@(Value != null ? Color.Info : Color.Default)" Style="width: 100%; justify-content: space-between;">
    @if (OnlyLabel)
    {
        @For.GetCustomAttribute().Name
        <MudTooltip Text="@For.GetCustomAttribute().Placeholder">
            <MudIcon Icon="@Icons.Material.Filled.Help" Color="Color.Default" Style="margin-inline: -6px; cursor: help"></MudIcon>
        </MudTooltip>
    }
    else if (Value is bool resultB)
    {
        <MudIcon Icon="@(resultB? IconsFA.Solid.Icon("circle-check").Font : IconsFA.Solid.Icon("circle-xmark").Font)" Color="@(resultB? Color.Success: Color.Error)"
                 Style="margin-inline: -6px;"></MudIcon>
        @if (ShowLabel)
        {
            <MudTooltip Text="@For.GetCustomAttribute().Placeholder">
                <span style="font-weight: bold; text-decoration: underline; cursor: help;">@For.GetCustomAttribute().Name</span>
            </MudTooltip>
        }
        <MudTooltip Text="@For.GetCustomAttribute().Description">
            <MudIcon Icon="@Icons.Material.Filled.Help" Color="Color.Default" Style="margin-inline: -6px; cursor: help"></MudIcon>
        </MudTooltip>
    }
    else if (Nullable.GetUnderlyingType(typeof(TValue))?.IsEnum == true)
    {
        var resultE = (Enum?)(object?)Value;

        if (resultE == null)
        {
            <MudIcon Icon="@GetIntIcon(null)" Style="margin-inline: -6px;"></MudIcon>
        }
        else
        {
            <MudIcon Icon="@GetIntIcon((int?)(object?)resultE * 200 - 1)" Style="@($"margin-inline: -6px; {GetColorStyle((int?)(object?)resultE * 200 - 1)}")"></MudIcon>
        }
        <div>
            <MudTooltip Text="@For.GetCustomAttribute().Placeholder">
                <span style="font-weight: bold; text-decoration: underline; cursor: help;">@resultE?.GetName()</span>
            </MudTooltip>
        </div>
        <MudTooltip Text="@For.GetCustomAttribute().Description">
            <MudIcon Icon="@Icons.Material.Filled.Help" Color="Color.Default" Style="margin-inline: -6px; cursor: help"></MudIcon>
        </MudTooltip>
    }
    else if (typeof(TValue) == typeof(int?))
    {
        var resultI = Value as int?;

        @if (ShowEmoji || resultI == null)
        {
            <MudIcon Icon="@GetIntIcon((int?)(object?)Value)" Style="@($"margin-inline: -6px; {GetColorStyle((int?)(object?)Value)}")"></MudIcon>
        }
        <div>
            @if (ShowLabel)
            {
                <MudTooltip Text="@For.GetCustomAttribute().Placeholder">
                    <span style="font-weight: bold; text-decoration: underline; cursor: help;" class="me-1">@For.GetCustomAttribute().Name: </span>
                </MudTooltip>
            }
            <span>@resultI?.ToString("N0", UsCulture)</span>
        </div>
        <MudTooltip Text="@For.GetCustomAttribute().Description">
            <MudIcon Icon="@Icons.Material.Filled.Help" Color="Color.Default" Style="margin-inline: -6px; cursor: help"></MudIcon>
        </MudTooltip>
    }
    else if (typeof(TValue) == typeof(decimal?))
    {
        var resultI = Value as decimal?;

        if (resultI == null)
        {
            <MudIcon Icon="@GetIntIcon(null)" Style="margin-inline: -6px;"></MudIcon>
        }
        <div>
            @if (ShowLabel)
            {
                <MudTooltip Text="@For.GetCustomAttribute().Placeholder">
                    <span style="font-weight: bold; text-decoration: underline; cursor: help;" class="me-1">@For.GetCustomAttribute().Name: </span>
                </MudTooltip>
            }
            <span>@resultI?.ToString("C", UsCulture)</span>
        </div>
        <MudTooltip Text="@For.GetCustomAttribute().Description">
            <MudIcon Icon="@Icons.Material.Filled.Help" Color="Color.Default" Style="margin-inline: -6px; cursor: help"></MudIcon>
        </MudTooltip>
    }
    else
    {
        <MudText Color="Color.Error">Not Implemented</MudText>
    }
</MudChip>

@code {
    [Parameter][EditorRequired] public Expression<Func<object>>? For { get; set; }
    [Parameter] public TValue? Value { get; set; }
    [Parameter] public bool Inverted { get; set; } = false;
    [Parameter] public bool ShowEmoji { get; set; } = true;
    [Parameter] public bool ShowLabel { get; set; } = true;
    [Parameter] public bool OnlyLabel { get; set; } = false;

    private readonly CultureInfo UsCulture = CultureInfo.CreateSpecificCulture("en-US");

    private string GetIntIcon(int? value)
    {
        if (value == null) return IconsFA.Solid.Icon("xmark").Font;

        if (Inverted)
        {
            if (value < 200) return IconsFA.Solid.Icon("face-grin-stars").Font;
            else if (value < 400) return IconsFA.Solid.Icon("face-smile-beam").Font;
            else if (value < 600) return IconsFA.Solid.Icon("face-meh").Font;
            else if (value < 800) return IconsFA.Solid.Icon("face-frown").Font;
            else return IconsFA.Solid.Icon("face-dizzy").Font;
        }
        else
        {
            if (value >= 800) return IconsFA.Solid.Icon("face-grin-stars").Font;
            else if (value >= 600) return IconsFA.Solid.Icon("face-smile-beam").Font;
            else if (value >= 400) return IconsFA.Solid.Icon("face-meh").Font;
            else if (value >= 200) return IconsFA.Solid.Icon("face-frown").Font;
            else return IconsFA.Solid.Icon("face-dizzy").Font;
        }
    }

    private string GetColorStyle(int? value, int min = 0, int max = 1000)
    {
        if (value == null) return "color: inherit;";

        var v = value.Value;
        var range = max - min;
        var step = range / 5.0;

        int bucket = (int)((v - min) / step);
        bucket = Math.Clamp(bucket, 0, 4);

        var colors = new[]
        {
            "rgb(255, 63, 95)", //mud-error-text
            "rgb(255, 122, 82)",
            "rgb(255, 181, 69)", //mud-warning-text
            "rgb(173, 192, 88)",
            "rgb(61, 203, 108)" //mud-success-text
        };

        if (Inverted)
            bucket = 4 - bucket;

        return $"color: {colors[bucket]};";
    }
}
