@page "/explore"

@using NS.WEB.Modules.Country.Core

@inherits PageCore<ExplorePage>

@inject AllRegionsApi AllRegionsApi

<SeoHeader Title="Explore" Description="Explore" Url="/explore" Keywords="@(["explore"])"></SeoHeader>

<PageSection Title="Regions" ButtonAction="false">
    <ActionFragment>
        <MudToggleGroup T="DisplayMode" SelectionMode="SelectionMode.SingleSelection" Vertical="false" Color="Color.Primary" Class="me-2" Size="AppStateStatic.Size"
                        @bind-Value="@CurrentDisplayMode">
            <MudToggleItem Value="DisplayMode.Grid" SelectedIcon="@IconsFA.Solid.Icon("check").Font">
                <MudText Inline="true">Grid</MudText>
            </MudToggleItem>
            <MudToggleItem Value="DisplayMode.List" SelectedIcon="@IconsFA.Solid.Icon("check").Font">
                <MudText Inline="true">List</MudText>
            </MudToggleItem>
            <MudToggleItem Value="DisplayMode.Map" SelectedIcon="@IconsFA.Solid.Icon("check").Font">
                <MudText Inline="true">Map</MudText>
            </MudToggleItem>
        </MudToggleGroup>
    </ActionFragment>
    <FilterFragment>
        <MudToolBar WrapContent="true" Gutters="false" Dense="true">
            <MudSelect Label="Continent" FitContent="!IsMobile" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text"
                       Value="continent" ValueChanged="@((string? vl) => { continent = vl; subcontinent = null; StateHasChanged(); })">
                @foreach (var item in AllRegions?.GetContinents() ?? [])
                {
                    <MudSelectItem Value="item">@item</MudSelectItem>
                }
            </MudSelect>
            <MudSelect Label="Subcontinent" FitContent="!IsMobile" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text" Disabled="AllRegions?.GetSubContinents(continent).Empty() ?? true"
                       Value="subcontinent" ValueChanged="@((string? vl) => { subcontinent = vl; StateHasChanged(); })">
                @foreach (var item in AllRegions?.GetSubContinents(continent) ?? [])
                {
                    <MudSelectItem Value="item">@item</MudSelectItem>
                }
            </MudSelect>
            <MudTextField T="string" Label="Name" @bind-Value="@name" Class="me-2" Clearable="true" Variant="Variant.Text" Immediate="true"></MudTextField>
        </MudToolBar>
    </FilterFragment>
    <BodyFragment>
        @if (CurrentDisplayMode == DisplayMode.Grid)
        {
            <div class="grid-relative-container-flag">
                @foreach (var item in AllRegions?.Filter(continent, subcontinent).Where(p => name.NotEmpty() ? p.name!.Contains(name, StringComparison.InvariantCultureIgnoreCase) : true) ?? [])
                {
                    <div style="position: relative;">
                        <RegionComponent Region="item" TopRightText="@(item.score?.ToString() ?? "No Score")"></RegionComponent>
                    </div>
                }
            </div>
        }
        else if (CurrentDisplayMode == DisplayMode.List)
        {
            <FeatureUnavailable></FeatureUnavailable>
        }
        else if (CurrentDisplayMode == DisplayMode.Map)
        {
            <FeatureUnavailable></FeatureUnavailable>
        }
    </BodyFragment>
</PageSection>

@code {
    private AllRegions? AllRegions { get; set; }

    private enum DisplayMode
    {
        Grid,
        List,
        Map
    }

    private DisplayMode CurrentDisplayMode { get; set; } = DisplayMode.Grid;

    private string? continent;
    private string? subcontinent;
    private string? name;

    private bool IsMobile => Breakpoint <= Breakpoint.Xs;

    private bool SubscriptionAllowed { get; set; } = true;

    protected override async Task LoadEssentialDataAsync()
    {
        AllRegions = await AllRegionsApi.GetAll(null);
    }
}
