@page "/explore"

@inherits PageCore<ExplorePage>

<SeoHeader Title="Explore" Description="Explore" Url="/explore" Keywords="@(["explore"])"></SeoHeader>

<PageSection Title="Regions" ButtonAction="false">
    <ActionFragment>
        <MudToggleGroup T="DisplayMode" SelectionMode="SelectionMode.SingleSelection" Vertical="false" Color="Color.Primary" Class="me-2" Size="AppStateStatic.Size"
                        @bind-Value="@CurrentDisplayMode">
            <MudToggleItem Value="DisplayMode.Grid" SelectedIcon="@IconsFA.Solid.Icon("check").Font">
                <MudText Inline="true">Grid</MudText>
            </MudToggleItem>
            <MudToggleItem Value="DisplayMode.List" SelectedIcon="@IconsFA.Solid.Icon("check").Font">
                <MudText Inline="true">List</MudText>
            </MudToggleItem>
            <MudToggleItem Value=DisplayMode.Map" SelectedIcon="@IconsFA.Solid.Icon("check").Font">
                <MudText Inline="true">Map</MudText>
            </MudToggleItem>
        </MudToggleGroup>
    </ActionFragment>
    <FilterFragment>
        <MudToolBar WrapContent="true" Gutters="false" Dense="true">
            <MudSelect Label="Continent" FitContent="!IsMobile" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text"
                       Value="continent" ValueChanged="@((string? vl) => { continent = vl; subcontinent = null; StateHasChanged(); })">
                @foreach (var item in Regions.GetContinents())
                {
                    <MudSelectItem Value="item">@item</MudSelectItem>
                }
            </MudSelect>
            <MudSelect Label="Subcontinent" FitContent="!IsMobile" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text" Disabled="Regions.GetSubContinents(continent).Empty()"
                       Value="subcontinent" ValueChanged="@((string? vl) => { subcontinent = vl; StateHasChanged(); })">
                @foreach (var item in Regions.GetSubContinents(continent))
                {
                    <MudSelectItem Value="item">@item</MudSelectItem>
                }
            </MudSelect>
            <MudTextField T="string" Label="Name" @bind-Value="@name" Class="me-2" Clearable="true" Variant="Variant.Text" Immediate="true"></MudTextField>
        </MudToolBar>
    </FilterFragment>
    <BodyFragment>
        @if (CurrentDisplayMode == DisplayMode.Grid)
        {
            <div class="grid-relative-container-flag">
                @foreach (var item in Regions.GetRegions(continent, subcontinent).Where(p => name.NotEmpty() ? p.Name.Contains(name, StringComparison.InvariantCultureIgnoreCase) : true))
                {
                    <MudPaper Class="pa-2" Style="text-align: center;">
                        <MudLink Href="@($"explore/{item.Value.ToString().ToLower()}")" Style="line-height: normal;">
                            <MudImage Src="@item.Value.GetFlag()" Style="@($"{(IsMobile ? "height:35px;" : "height: 56px;")}")"></MudImage>
                            <MudText Style="@(IsMobile ? "font-size: 0.65rem;" : "font-size: 0.85em;")">@item.Name</MudText>
                        </MudLink>
                    </MudPaper>
                }
            </div>
        }
        else if (CurrentDisplayMode == DisplayMode.List)
        {
            <FeatureUnavailable></FeatureUnavailable>
        }
        else if (CurrentDisplayMode == DisplayMode.Map)
        {
            <FeatureUnavailable></FeatureUnavailable>
        }
    </BodyFragment>
</PageSection>

@code {
    private List<EnumObjectCountry<NS.Shared.Enums.Region>> Regions { get; set; } = [];

    private enum DisplayMode
    {
        Grid,
        List,
        Map
    }

    private DisplayMode CurrentDisplayMode { get; set; } = DisplayMode.Grid;

    private string? continent;
    private string? subcontinent;
    private string? name;

    private bool IsMobile => Breakpoint <= Breakpoint.Xs;

    private bool SubscriptionAllowed { get; set; } = true;

    protected override void OnInitialized()
    {
        Regions = EnumHelper.GetListRegion<NS.Shared.Enums.Region>();

        base.OnInitialized();
    }
}
