@page "/explore"

@using NS.WEB.Modules.Country.Core
@using NS.WEB.Modules.Subscription.Core
@using SD.WEB.Shared.Core

@inherits PageCore<ExplorePage>

@inject AllRegionsApi AllRegionsApi
@inject IpInfoApi IpInfoApi
@inject IpInfoServerApi IpInfoServerApi

<SeoHeader Title="Explore" Description="Explore" Url="/explore" Keywords="@(["explore"])"></SeoHeader>

<GoogleAdSense Section="@GoogleAdSense.AdUnit.Explore"></GoogleAdSense>

<NewPageSection Title="Regions">
    <ActionsFragment>
        <MudToolBar WrapContent="true" Gutters="false" Dense="true">
            <MudSelect Label="Continent" FitContent="!IsMobile" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text"
                       Value="continent" ValueChanged="@((string? vl) => { continent = vl; subcontinent = null; StateHasChanged(); })">
                @foreach (var item in AllRegions?.GetContinents() ?? [])
                {
                    <MudSelectItem Value="item">@item</MudSelectItem>
                }
            </MudSelect>
            <MudSelect Label="Subcontinent" FitContent="!IsMobile" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text" Disabled="AllRegions?.GetSubContinents(continent).Empty() ?? true"
                       Value="subcontinent" ValueChanged="@((string? vl) => { subcontinent = vl; StateHasChanged(); })">
                @foreach (var item in AllRegions?.GetSubContinents(continent) ?? [])
                {
                    <MudSelectItem Value="item">@item</MudSelectItem>
                }
            </MudSelect>
            <MudTextField T="string" Label="Name" @bind-Value="@name" Class="me-2" Clearable="true" Variant="Variant.Text" Immediate="true"></MudTextField>
        </MudToolBar>
    </ActionsFragment>
    <BodyFragment>
        <MudTabs KeepPanelsAlive="true" MinimumTabWidth="100" ApplyEffectsToContainer="true" TabPanelsClass="@Css.Build().Small("pt")"
                 ActivePanelIndexChanged="@(async (int vl) => { index = vl; })">
            <ChildContent>
                <MudTabPanel Text="grid">
                    <RenderControl Actions="Actions">
                        <div class="grid-relative-container-flag">
                            @foreach (var item in AllRegions?.GetList(continent, subcontinent).Where(p => name.NotEmpty() ? p.name!.Contains(name, StringComparison.InvariantCultureIgnoreCase) : true) ?? [])
                            {
                                <div style="position: relative;">
                                    <RegionComponent Region="item" TopRightText="@(item.score?.ToString() ?? "No Score")" Index="true" HideFlag="@HideFlag(item.code)"></RegionComponent>
                                </div>
                            }
                        </div>
                    </RenderControl>
                </MudTabPanel>
                @*  <MudTabPanel Text="list">
                    <FeatureUnavailable></FeatureUnavailable>
                </MudTabPanel> *@
                @*  <MudTabPanel Text="map">
                    <FeatureUnavailable></FeatureUnavailable>
                </MudTabPanel> *@
            </ChildContent>
        </MudTabs>
    </BodyFragment>
</NewPageSection>

@code {
    public ComponentActions<AllRegions?> Actions { get; set; } = new(obj => obj == null || obj.Items.Empty());
    private AllRegions? AllRegions { get; set; }

    private string? continent;
    private string? subcontinent;
    private string? name;
    private string? country;

    private bool IsMobile => AppStateStatic.Breakpoint <= Breakpoint.Xs;
    private int index;

    private bool SubscriptionAllowed { get; set; } = true;

    protected override async Task ProcessInitialData()
    {
        country = await AppStateStatic.GetCountry(IpInfoApi, IpInfoServerApi, JsRuntime);

        await Actions.StartLoading.Invoke(null);
        AllRegions = await AllRegionsApi.GetAll();
        await Actions.FinishLoading.Invoke(AllRegions);
    }

    private bool HideFlag(string? code)
    {
        if ((country.Empty() || country.ToLower() == "cn") && code!.ToLower() == "tw")
        {
            return true; //hide Taiwan flag for users from China or when country is unknown
        }
        else
        {
            return false;
        }
    }
}
