@page "/explore"

@using NS.WEB.Modules.Country.Core

@inherits PageCore<ExplorePage>

@inject AllRegionsApi AllRegionsApi

<SeoHeader Title="Explore" Description="Explore" Url="/explore" Keywords="@(["explore"])"></SeoHeader>

<GoogleAdSense Section="@GoogleAdSense.AdUnit.Explore"></GoogleAdSense>

<NewPageSection Title="Regions">
    <ActionsFragment>
        <MudToolBar WrapContent="true" Gutters="false" Dense="true">
            <MudSelect Label="Continent" FitContent="!IsMobile" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text"
                       Value="continent" ValueChanged="@((string? vl) => { continent = vl; subcontinent = null; StateHasChanged(); })">
                @foreach (var item in AllRegions?.GetContinents() ?? [])
                {
                    <MudSelectItem Value="item">@item</MudSelectItem>
                }
            </MudSelect>
            <MudSelect Label="Subcontinent" FitContent="!IsMobile" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text" Disabled="AllRegions?.GetSubContinents(continent).Empty() ?? true"
                       Value="subcontinent" ValueChanged="@((string? vl) => { subcontinent = vl; StateHasChanged(); })">
                @foreach (var item in AllRegions?.GetSubContinents(continent) ?? [])
                {
                    <MudSelectItem Value="item">@item</MudSelectItem>
                }
            </MudSelect>
            <MudTextField T="string" Label="Name" @bind-Value="@name" Class="me-2" Clearable="true" Variant="Variant.Text" Immediate="true"></MudTextField>
        </MudToolBar>
    </ActionsFragment>
    <BodyFragment>
        <MudTabs KeepPanelsAlive="true" MinimumTabWidth="100" ApplyEffectsToContainer="true" PanelClass="@Css.Build().Small("pt")"
                 ActivePanelIndexChanged="@(async (int vl) => { index = vl; })">
            <ChildContent>
                <MudTabPanel Text="grid">
                    <NewRenderControl Actions="Actions" Instance="AllRegions" ExpressionEmpty="@((AllRegions? obj) => obj == null || obj.Items.Empty())">
                        <div class="grid-relative-container-flag">
                            @foreach (var item in AllRegions?.GetList(continent, subcontinent).Where(p => name.NotEmpty() ? p.name!.Contains(name, StringComparison.InvariantCultureIgnoreCase) : true) ?? [])
                            {
                                <div style="position: relative;">
                                    <RegionComponent Region="item" TopRightText="@(item.score?.ToString() ?? "No Score")" Index="true"></RegionComponent>
                                </div>
                            }
                        </div>
                    </NewRenderControl>
                </MudTabPanel>
               @*  <MudTabPanel Text="list">
                    <FeatureUnavailable></FeatureUnavailable>
                </MudTabPanel> *@
               @*  <MudTabPanel Text="map">
                    <FeatureUnavailable></FeatureUnavailable>
                </MudTabPanel> *@
            </ChildContent>
        </MudTabs>
    </BodyFragment>
</NewPageSection>

@code {
    public ComponentActions<AllRegions?> Actions { get; set; } = new();
    private AllRegions? AllRegions { get; set; }

    private string? continent;
    private string? subcontinent;
    private string? name;

    private bool IsMobile => AppStateStatic.Breakpoint <= Breakpoint.Xs;
    private int index;

    private bool SubscriptionAllowed { get; set; } = true;

    protected override async Task ProcessInitialData()
    {
        Actions.StartLoading?.Invoke(null);
        AllRegions = await AllRegionsApi.GetAll();
        Actions.FinishLoading?.Invoke(AllRegions);
    }
}
