@page "/{culture}/explore"

@using NS.WEB.Modules.Country.Core
@using NS.WEB.Modules.Subscription.Core
@using NS.WEB.Shared.Core

@inherits PageCore<ExplorePage>

@inject LocalJsonApi LocalJsonApi
@inject IpInfoApi IpInfoApi

<HeadComponent Title="@SeoTranslations.Explore" Description="@SeoTranslations.ExploreDesc" Url=@($"/{Culture}/explore") Index="true"></HeadComponent>

<GoogleAdSense Section="@GoogleAdSense.AdUnit.Explore"></GoogleAdSense>

<PageSectionComponent Title="@SeoTranslations.Explore" Description="@SeoTranslations.ExploreDesc">
    <ActionsFragment>
        <MudToolBar WrapContent="true" Gutters="false" Dense="true">
            <MudSelect Label="Continent" FitContent="!IsMobile" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text"
                       Value="continent" ValueChanged="@((string? vl) => { continent = vl; subcontinent = null; StateHasChanged(); })">
                @foreach (var item in AllRegions?.GetContinents() ?? [])
                {
                    <MudSelectItem Value="item">@item</MudSelectItem>
                }
            </MudSelect>
            <MudSelect Label="Subcontinent" FitContent="!IsMobile" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text" Disabled="AllRegions?.GetSubContinents(continent).Empty() ?? true"
                       Value="subcontinent" ValueChanged="@((string? vl) => { subcontinent = vl; StateHasChanged(); })">
                @foreach (var item in AllRegions?.GetSubContinents(continent) ?? [])
                {
                    <MudSelectItem Value="item">@item</MudSelectItem>
                }
            </MudSelect>
            <MudTextField T="string" Label="Name" @bind-Value="@name" Class="me-2" Clearable="true" Variant="Variant.Text" Immediate="true"></MudTextField>
        </MudToolBar>
    </ActionsFragment>
    <BodyFragment>
        <MudTabs MinimumTabWidth="100" ApplyEffectsToContainer="true" TabPanelsClass="@Css.Build().Small("pt")" ActivePanelIndexChanged="@(async (int vl) => { index = vl; })">
            <ChildContent>
                <MudTabPanel Text="grid">
                    <RenderControl Actions="Actions">
                        <div class="grid-relative-container-flag">
                            @foreach (var item in FilteredRegions)
                            {
                                <div style="position: relative;">
                                    <RegionComponent Region="item" TopRightText="@(item.score?.ToString() ?? "No Score")" Index="true" HideFlag="@HideFlag(item.code)" Culture="@Culture"></RegionComponent>
                                </div>
                            }
                        </div>
                    </RenderControl>
                </MudTabPanel>
                <MudTabPanel Text="list">
                    <MudDataGrid Items="@FilteredRegions">
                        <Columns>
                            <TemplateColumn T="RegionModel" Title="Flag">
                                <CellTemplate>
                                    @if (HideFlag(context?.Item.code))
                                    {
                                        <MudIcon Icon="@IconsFA.Solid.Icon("flag").WithSize(IconSize.lg).Font" Style="max-height: 40px;" />
                                    }
                                    else
                                    {
                                        <MudImage Src="@context?.Item.code.GetFlag()" Style="max-height: 40px;" ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center" Alt="@context?.Item?.name" />
                                    }
                                </CellTemplate>
                            </TemplateColumn>
                            <PropertyColumn Property="x => x.continent" Title="Continent" />
                            <PropertyColumn Property="x => x.subcontinent" Title="Subcontinent" />
                            <PropertyColumn Property="x => x.name" Title="Name" />
                            <PropertyColumn Property="x => x.score" Title="Score" />
                        </Columns>
                    </MudDataGrid>
                </MudTabPanel>
                <MudTabPanel Text="map">
                    <div id='map' style='width: 100%; height: 500px;'></div>
                    <script>
                                            let map = new maplibregl.Map({
                                                container: 'map',
                                                style: 'https://api.maptiler.com/maps/019dd475-6a97-7266-b8a9-dc85177ba298/style.json?key=BokpKrYxo0REj6eYigLc',
                                                center: [0, 0],
                                                zoom: 3,
                                            });

                                            map.on('load', () => {
                                                map.on('click', 'administrative_polygon', (e) => {
                                                    window.country = e.features[0];
                                                    console.log(e.features[0].properties.name);
                                                });
                                            });
                    </script>
                </MudTabPanel>
            </ChildContent>
        </MudTabs>
    </BodyFragment>
</PageSectionComponent>

@code {
    public ComponentActions<AllRegions?> Actions { get; set; } = new(obj => obj == null || obj.Items.Empty());
    private AllRegions? AllRegions { get; set; }
    private List<RegionModel> FilteredRegions => AllRegions?.GetList(continent, subcontinent).Where(p => name.NotEmpty() ? p.name!.Contains(name, StringComparison.InvariantCultureIgnoreCase) : true).ToList() ?? [];

    private string? continent;
    private string? subcontinent;
    private string? name;
    private string? country;

    private bool IsMobile => AppStateStatic.Breakpoint <= Breakpoint.Xs;
    private int index;

    private bool SubscriptionAllowed { get; set; } = true;

    protected override async Task ProcessInitialData()
    {
        country = await AppStateStatic.GetCountry(IpInfoApi, JsRuntime);

        await Actions.StartLoading.Invoke(null);
        AllRegions = await LocalJsonApi.GetAllRegions();
        await Actions.FinishLoading.Invoke(AllRegions);
    }

    private bool HideFlag(string? code)
    {
        if ((country.Empty() || country.ToLower() == "cn") && code!.ToLower() == "tw")
        {
            return true; //hide Taiwan flag for users from China or when country is unknown
        }
        else
        {
            return false;
        }
    }
}
