@using PexelsDotNetSDK.Api
@inherits ComponentCore<PicturePopup>

<MudDialog Style="width: 100%;">
    <DialogContent>
        <MudCard Style="position: relative;" Elevation="0">
            <MudCardMedia Image="@(Item != null && Item.PhotoId.NotEmpty() ? _image : _altImage)" Height="600" Title="@Item?.Description" />
            <MudChip T="string" Label="true" Color="Color.Secondary" Class="poster-chip" Style="top: 8px; left: 8px; position: absolute;" Size="AppStateStatic.Size">
                @if (ShowIndex)
                {
                    @($"{Item?.Index + "º"} - {_country?.name}")
                }
                else
                {
                    @_country?.name
                }
            </MudChip>
            @if (Item?.Title != null || Item?.Description != null)
            {
                <MudCardContent Style="text-align: justify;" Class="pa-2">
                    @if (Item.Title.NotEmpty())
                    {
                        <MudText Typo="Typo.subtitle1" Color="Color.Default" Align="Align.Center" Style="line-height: 1.5">
                            @Item.Title
                        </MudText>
                    }
                    @* @if (Item.Description.NotEmpty())
                    {
                        <div class="mt-2">
                            <MudText Typo="Typo.caption">
                                @Item.Description
                            </MudText>
                        </div>
                    } *@
                </MudCardContent>
            }
        </MudCard>
    </DialogContent>
    <DialogActions>
        <MudText>@($"Picture by {Item?.CustomPhotoCredit}")</MudText>
        <MudSpacer></MudSpacer>
        <MudButton OnClick="@(() => { MudDialog?.Close(); })">
            @Button.Close
        </MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] private IMudDialogInstance? MudDialog { get; set; }

    [Parameter] public SuggestionRegion? Item { get; set; }
    [Parameter] public AllRegions? AllRegions { get; set; }
    [Parameter] public bool ShowIndex { get; set; }

    private RegionModel? _country => AllRegions?.GetByCode(Item?.Code);
    private string? _image => $"https://images.pexels.com/photos/{Item?.PhotoId}/pexels-photo-{Item?.PhotoId}.jpeg?auto=compress&cs=tinysrgb&w=900";
    private string? _altImage => Item?.CustomPhotoUrl != null ? Item.CustomPhotoUrl : Item?.Code.GetFlag();

    protected override async Task ProcessInitialData()
    {
        if (Item != null && Item.PhotoId.NotEmpty())
        {
            var pexelsClient = new PexelsClient("pbK4mpWvrE25Sy1bqyQ8R5Bpfkpkedar79U8hTAiOooubFv7DxkWuiej");
            var result = await pexelsClient.GetPhotoAsync(int.Parse(Item.PhotoId));

            Item.CustomPhotoCredit = result?.photographer;
        }
    }
}
