@page "/suggestions/{id}"
@using NS.WEB.Modules.Country.Core
@using NS.WEB.Modules.Profile.Components
@using NS.WEB.Modules.Profile.Core

@inherits PageCore<SuggestionsPage>

@inject SuggestionsApi SuggestionsApi
@inject AllRegionsApi AllRegionsApi
@inject WishListApi WishListApi

<SeoHeader Title="@Suggestion?.Title" Description="@Suggestion?.Description" Url="@($"/suggestions/{id}")" Keywords="@(["adventure"])"></SeoHeader>
<NewPageSection IsPageHeader="true" Icon="@IconsFA.Solid.Icon(Suggestion?.Icon).Font" Title="@Suggestion?.Title" Subtitle="@Suggestion?.SubTitle" Description="@Suggestion?.Description" />

<GoogleAdSense Section="@GoogleAdSense.AdUnit.Suggestion"></GoogleAdSense>

<div class="grid-relative-container-news">
    @foreach (var item in Suggestion?.Regions ?? [])
    {
        var _country = AllRegions?.GetByCode(item.Code);
        var _image = $"https://images.pexels.com/photos/{item.PhotoId}/pexels-photo-{item.PhotoId}.jpeg?auto=compress&cs=tinysrgb&h=500";
        var _altImage = item.CustomPhotoUrl.NotEmpty() ? item.CustomPhotoUrl : item.Code.GetFlag();

        <MudCard Style="position: relative;">
            <MudCardMedia Image="@(item.PhotoId.NotEmpty() ? _image : _altImage)" Height="300" />
            <MudChip T="string" Label="true" Color="Color.Secondary" Class="poster-chip" Style="top: 8px; left: 8px; position: absolute; opacity: 0.75;" Size="AppStateStatic.Size">
                @if (ShowIndex)
                {
                    @($"{item.Index + "º"} - {_country?.name}")
                }
                else
                {
                    @_country?.name
                }
            </MudChip>
            <MudIconButton Style="top: 8px; right: 8px; position: absolute;" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary" OnClick="()=>AddWishlist(item.Code)">
            </MudIconButton>
            @if (item.Title.NotEmpty() || item.Description.NotEmpty())
            {
                <MudCardContent Style="text-align: justify;" Class="pa-2">
                    @if (item.Title.NotEmpty())
                    {
                        <MudText Typo="Typo.subtitle1" Color="Color.Default" Align="Align.Center" Style="line-height: 1.5">
                            @item.Title
                        </MudText>
                    }
                    @if (item.Description.NotEmpty())
                    {
                        <div class="mt-2">
                            <MudText Typo="Typo.caption">
                                @item.Description
                            </MudText>
                        </div>
                    }
                </MudCardContent>
            }
        </MudCard>
    }
</div>

<div style="position: fixed; bottom: 16px; right: 16px; display: flex; z-index: 1000;">
    <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.ArrowBack" Size="Size.Medium" OnClick="@(() => JsRuntime.Window().HistoryBack())" />
</div>

@code {
    [Parameter] public required string id { get; set; }

    public bool ShowIndex { get; set; } = true;

    private AllRegions? AllRegions { get; set; }
    public Suggestion? Suggestion { get; set; }
    public WishList? WishList { get; set; }

    protected override async Task LoadEssentialDataAsync()
    {
        AllRegions = await AllRegionsApi.GetAll();
        Suggestion = await SuggestionsApi.SuggestionGet(id);

        string[] bestTimeToGo = ["january", "february", "march", "april", "may", "june", "july", "august", "september", "october", "november", "december"];

        if (bestTimeToGo.Contains(id))
        {
            ShowIndex = false;
        }
    }

    private async Task AddWishlist(string code)
    {
        try
        {
            if (!AppStateStatic.IsAuthenticated)
            {
                await ShowWarning(GlobalTranslations.YouMustLogged);
                return;
            }

            WishList ??= await WishListApi.Get(AppStateStatic.IsAuthenticated);

            var parameters = new DialogParameters<WishlistPopup>
            {
                { x => x.AllRegions, AllRegions },
                { x => x.WishList, WishList },
                { x => x.Entry, new WishListEntry { RegionCode = code }  }
            };

            await DialogService.ShowAsync<WishlistPopup>("Wishlist", parameters, PopupHelper.Options(MaxWidth.Small));
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }
}