@page "/suggestions/{id}"
@using NS.WEB.Modules.Country.Core

@inherits PageCore<SuggestionsPage>

@inject SuggestionsApi SuggestionsApi
@inject AllRegionsApi AllRegionsApi

<SeoHeader Title="@Suggestion?.Title" Description="@Suggestion?.Description" Url="@($"/suggestions/{id}")" Keywords="@(["adventure"])"></SeoHeader>
<PageHeader Icon="@IconsFA.Solid.Icon(Suggestion?.Icon).Font" Title="@Suggestion?.Title" Subtitle="@Suggestion?.SubTitle" Description="@Suggestion?.Description" />

<div class="grid-relative-container-news">
    @foreach (var item in Suggestion?.Regions ?? [])
    {
        var _country = AllRegions?.GetByCode(item.Code);
        var _image = $"https://images.pexels.com/photos/{item.PhotoId}/pexels-photo-{item.PhotoId}.jpeg?auto=compress&cs=tinysrgb&h=500";
        var _altImage = item.CustomPhotoUrl.NotEmpty() ? item.CustomPhotoUrl : item.Code.GetFlag();

        <MudCard Style="position: relative;">
            <MudCardMedia Image="@(item.PhotoId.NotEmpty() ? _image : _altImage)" Height="300" />
            <MudChip T="string" Label="true" Color="Color.Secondary" Class="poster-chip" Style="top: 8px; left: 8px; position: absolute; opacity: 0.75;" Size="AppStateStatic.Size">
                @if (ShowIndex)
                {
                    @($"{item.Index + "º"} - {_country?.name}")
                }
                else
                {
                    @_country?.name
                }
            </MudChip>
            <MudButton Color="Color.Primary" Rel="noindex, nofollow" Size="AppStateStatic.Size" Disabled="true" Style="top: 8px; right: 8px; position: absolute; opacity: 0.75;" Variant="Variant.Filled">
                Favorite
            </MudButton>
            @if (item.Title.NotEmpty() || item.Description.NotEmpty())
            {
                <MudCardContent Style="text-align: justify;" Class="pa-2">
                    @if (item.Title.NotEmpty())
                    {
                        <MudText Typo="Typo.subtitle1" Color="Color.Default" Align="Align.Center" Style="line-height: 1.5">
                            @item.Title
                        </MudText>
                    }
                    @if (item.Description.NotEmpty())
                    {
                        <div class="mt-2">
                            <MudText Typo="Typo.caption">
                                @item.Description
                            </MudText>
                        </div>
                    }
                </MudCardContent>
            }
        </MudCard>
    }
</div>

@code {
    [Parameter] public required string id { get; set; }
    
    public bool ShowIndex { get; set; } = true;

    private AllRegions? AllRegions { get; set; }
    public Suggestion? Suggestion { get; set; }

    protected override async Task LoadEssentialDataAsync()
    {
        AllRegions = await AllRegionsApi.GetAll();
        Suggestion = await SuggestionsApi.SuggestionGet(id);

        string[] bestTimeToGo = ["january", "february", "march", "april", "may", "june", "july", "august", "september", "october", "november", "december"];

        if (bestTimeToGo.Contains(id))
        {
            ShowIndex = false;
        }
    }
}