@using NS.WEB.Modules.Suggestions.Core

<Slider List="Suggestions">
    <div style="@($"width: {(IsMobile ? "90" : "100")}px; text-align: center;")">
        <MudLink Href="@context.Link" Disabled="@context.Link.Empty()" Target="@(context.Link.NotEmpty() && context.Link.Contains("https") ? "_blank" : "_self")">
            <MudCard Outlined="true">
                <MudCardContent Class="pa-0">
                    @if (context.Logo.NotEmpty())
                    {
                        <MudImage Src="@context.Logo" Alt="@context.Name" Fluid="true"></MudImage>
                    }
                    else
                    {
                        <MudIcon Icon="@context.IconPath" Style="font-size: 48px; margin-block: 13px;"></MudIcon>
                    }
                </MudCardContent>
                <MudCardContent Style="text-align: center; padding: 4px; line-height: normal; font-size: 0.73rem; min-height: 38px">
                    <MudText Typo="Typo.h3" Class="custom-title-list">@context.Name</MudText>
                </MudCardContent>
            </MudCard>
        </MudLink>
    </div>
</Slider>

@code {
    [Parameter] public List<SuggestionItem> Suggestions { get; set; } = [];

    private bool IsMobile => AppStateStatic.Breakpoint == Breakpoint.Xs;
}
