@page "/suggestions"

@inherits PageCore<SuggestionsPage>

<SeoMeta Title="Suggestions" Description="Suggestions" Url="/suggestions" Index="true"></SeoMeta>

<NewPageSection Title="Themes and Interests" Description="Choose destinations based on the kind of experience you want to have. This view helps you explore places that match your travel mood and expectations." Icon="@IconsFA.Solid.Icon("star").Font">
    <BodyFragment>
        <div id="@_swiperThemes" class="swiper">
            <div class="swiper-wrapper">
                @foreach (var item in ThemesInterests)
                {
                    <div class="swiper-slide" style="height: auto !important;">
                        <MudLink Href="@item.Link" Disabled="@item.Link.Empty()">
                            <MudCard Outlined="true">
                                <MudCardContent Class="px-2 py-3">
                                    <MudIcon Icon="@item.LogoPath" Color="Color.Secondary"></MudIcon>
                                </MudCardContent>
                                <MudCardContent Style="text-align: center; padding: 4px; line-height: normal; font-size: 0.73rem; min-height: 38px">
                                    <MudText Typo="Typo.h3" Class="custom-title-list" Color="Color.Secondary">@item.Name</MudText>
                                </MudCardContent>
                            </MudCard>
                        </MudLink>
                    </div>
                }
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </BodyFragment>
</NewPageSection>

<NewPageSection Title="Events and Festivals" Description="Discover destinations through their events and festivals. Plan your trips around cultural experiences, seasonal celebrations, and local happenings." Icon="@IconsFA.Solid.Icon("calendar-days").Font">
    <BodyFragment>
        <div id="@_swiperEvents" class="swiper">
            <div class="swiper-wrapper">
                @foreach (var item in EventsFestivals)
                {
                    <div class="swiper-slide" style="height: auto !important;">
                        <MudLink Href="@item.Link" Disabled="@item.Link.Empty()">
                            <MudCard Outlined="true">
                                <MudCardContent Class="px-2 py-3">
                                    <MudIcon Icon="@item.LogoPath" Color="@(@item.Link.Empty() ? Color.Default : Color.Secondary)" Class="me-0"></MudIcon>
                                    <MudIcon Icon="@item.LogoPath2" Color="@(@item.Link.Empty() ? Color.Default : Color.Secondary)" Class="ms-0"></MudIcon>
                                </MudCardContent>
                                <MudCardContent Style="text-align: center; padding: 4px; line-height: normal; font-size: 0.73rem; min-height: 38px">
                                    <MudText Typo="Typo.h3" Class="custom-title-list" Color="@(@item.Link.Empty() ? Color.Default : Color.Secondary)">@item.Name</MudText>
                                </MudCardContent>
                            </MudCard>
                        </MudLink>
                    </div>
                }
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </BodyFragment>
</NewPageSection>

<NewPageSection Title="Scores and Indexes" Description="Compare destinations using global scores and indexes. Explore rankings and metrics that help you evaluate places across safety, economy, environment, and travel factors." Icon="@IconsFA.Solid.Icon("chart-simple").Font">
    <BodyFragment>
        <div id="@_swiperScores" class="swiper">
            <div class="swiper-wrapper">
                @foreach (var item in ScoresIndexes)
                {
                    <div class="swiper-slide" style="height: auto !important;">
                        <MudLink Href="@item.Link" Disabled="@item.Link.Empty()">
                            <MudCard Outlined="true">
                                <MudCardContent Class="px-2 py-3">
                                    <MudIcon Icon="@item.LogoPath" Color="Color.Secondary"></MudIcon>
                                </MudCardContent>
                                <MudCardContent Style="text-align: center; padding: 4px; line-height: normal; font-size: 0.73rem; min-height: 38px">
                                    <MudText Typo="Typo.h3" Class="custom-title-list" Color="@(@item.Link.Empty() ? Color.Default : Color.Secondary)">@item.Name</MudText>
                                </MudCardContent>
                            </MudCard>
                        </MudLink>
                    </div>
                }
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </BodyFragment>
</NewPageSection>

@code {
    private List<Item> ThemesInterests { get; } = [];
    private List<Item> EventsFestivals { get; } = [];
    private List<Item> ScoresIndexes { get; } = [];

    private readonly string _swiperThemes = $"swiper-{Guid.NewGuid()}";
    private readonly string _swiperEvents = $"swiper-{Guid.NewGuid()}";
    private readonly string _swiperScores = $"swiper-{Guid.NewGuid()}";

    public class Item
    {
        public string? Name { get; set; }
        public string? LogoPath { get; set; }
        public string? LogoPath2 { get; set; }
        public string? Link { get; set; }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        // https://www.tripadvisor.com/TravelersChoice-Destinations-cTop-g1
        ThemesInterests.Add(new Item { Name = "Top Destinations", LogoPath = IconsFA.Solid.Icon("award").WithSize(IconSize.lg).Font, Link = "/suggestions/top-destinations" });
        // https://ceoworld.biz/2025/05/10/worlds-best-countries-for-adventure-tourism-2025/
        ThemesInterests.Add(new Item { Name = "Adventure", LogoPath = IconsFA.Solid.Icon("person-hiking").WithSize(IconSize.lg).Font, Link = "/suggestions/adventure" });
        //https://bookretreats.com/blog/most-relaxing-holiday-destinations/
        ThemesInterests.Add(new Item { Name = "Relaxing", LogoPath = IconsFA.Solid.Icon("couch").WithSize(IconSize.lg).Font, Link = "/suggestions/relaxing" });
        // https://www.visualcapitalist.com/ranked-the-40-countries-with-the-best-culture-and-heritage/
        ThemesInterests.Add(new Item { Name = "Cultural & Heritage", LogoPath = IconsFA.Solid.Icon("masks-theater").WithSize(IconSize.lg).Font, Link = "/suggestions/cultural" });
        //https://passionbuz.com/expensive-luxurious-cities-in-the-world/
        ThemesInterests.Add(new Item { Name = "Luxury", LogoPath = IconsFA.Solid.Icon("bag-shopping").WithSize(IconSize.lg).Font, Link = "/suggestions/luxury" });
        // https://scenicsolutions.world/wp-content/uploads/2017/08/world-best-landscapes-summary.pdf
        ThemesInterests.Add(new Item { Name = "Natural Landscapes", LogoPath = IconsFA.Solid.Icon("mountain-sun").WithSize(IconSize.lg).Font, Link = "/suggestions/landscape" });
        // https://www.tripadvisor.com/TravelersChoice-Destinations-cHoneymoon-g1
        ThemesInterests.Add(new Item { Name = "Honeymoon", LogoPath = IconsFA.Solid.Icon("ring").WithSize(IconSize.lg).Font, Link = "/suggestions/honeymoon" });
        // https://www.tripadvisor.com/TravelersChoice-Destinations-cSoloTravel-g1
        ThemesInterests.Add(new Item { Name = "Solo Trip", LogoPath = IconsFA.Solid.Icon("person").WithSize(IconSize.lg).Font, Link = "/suggestions/solo" });
        // https://guide.michelin.com/en/article/travel/best-places-to-travel-2026-food-destinations
        ThemesInterests.Add(new Item { Name = "Food Lovers", LogoPath = IconsFA.Solid.Icon("burger").WithSize(IconSize.lg).Font, Link = "/suggestions/food-lovers" });
        // https://www.tripadvisor.com/TravelersChoice-Beaches
        ThemesInterests.Add(new Item { Name = "Beach Lovers", LogoPath = IconsFA.Solid.Icon("umbrella-beach").WithSize(IconSize.lg).Font, Link = "/suggestions/beach-lovers" });
        // https://www.timeout.com/travel/worlds-best-cities-for-nightlife
        ThemesInterests.Add(new Item { Name = "Nightlife", LogoPath = IconsFA.Solid.Icon("champagne-glasses").WithSize(IconSize.lg).Font, Link = "/suggestions/nightlife" });
        // https://www.atlasandboots.com/remote-work/ranked-100-best-cities-for-digital-nomads/
        ThemesInterests.Add(new Item { Name = "Digital Nomad", LogoPath = IconsFA.Solid.Icon("house-laptop").WithSize(IconSize.lg).Font, Link = "/suggestions/digital-nomad" });

        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        // https://www.scottdunn.com/luxury-holiday/cultural-holidays/festival-holidays/festivals-by-destination
        // https://www.timeout.com/travel/best-places-to-visit-top-destinations-this-year
        EventsFestivals.Add(new Item { Name = "January", LogoPath = IconsFA.Solid.Icon("0").WithSize(IconSize.lg).Font, LogoPath2 = IconsFA.Solid.Icon("1").WithSize(IconSize.lg).Font, Link = "/suggestions/january" });
        EventsFestivals.Add(new Item { Name = "February", LogoPath = IconsFA.Solid.Icon("0").WithSize(IconSize.lg).Font, LogoPath2 = IconsFA.Solid.Icon("2").WithSize(IconSize.lg).Font, Link = "/suggestions/february" });
        EventsFestivals.Add(new Item { Name = "March", LogoPath = IconsFA.Solid.Icon("0").WithSize(IconSize.lg).Font, LogoPath2 = IconsFA.Solid.Icon("3").WithSize(IconSize.lg).Font, Link = "/suggestions/march" });
        EventsFestivals.Add(new Item { Name = "April", LogoPath = IconsFA.Solid.Icon("0").WithSize(IconSize.lg).Font, LogoPath2 = IconsFA.Solid.Icon("4").WithSize(IconSize.lg).Font, Link = "/suggestions/april" });
        EventsFestivals.Add(new Item { Name = "May", LogoPath = IconsFA.Solid.Icon("0").WithSize(IconSize.lg).Font, LogoPath2 = IconsFA.Solid.Icon("5").WithSize(IconSize.lg).Font, Link = "/suggestions/may" });
        EventsFestivals.Add(new Item { Name = "June", LogoPath = IconsFA.Solid.Icon("0").WithSize(IconSize.lg).Font, LogoPath2 = IconsFA.Solid.Icon("6").WithSize(IconSize.lg).Font, Link = "/suggestions/june" });
        EventsFestivals.Add(new Item { Name = "July", LogoPath = IconsFA.Solid.Icon("0").WithSize(IconSize.lg).Font, LogoPath2 = IconsFA.Solid.Icon("7").WithSize(IconSize.lg).Font, Link = "/suggestions/july" });
        EventsFestivals.Add(new Item { Name = "August", LogoPath = IconsFA.Solid.Icon("0").WithSize(IconSize.lg).Font, LogoPath2 = IconsFA.Solid.Icon("8").WithSize(IconSize.lg).Font, Link = "/suggestions/august" });
        EventsFestivals.Add(new Item { Name = "September", LogoPath = IconsFA.Solid.Icon("0").WithSize(IconSize.lg).Font, LogoPath2 = IconsFA.Solid.Icon("9").WithSize(IconSize.lg).Font, Link = "/suggestions/september" });
        EventsFestivals.Add(new Item { Name = "October", LogoPath = IconsFA.Solid.Icon("1").WithSize(IconSize.lg).Font, LogoPath2 = IconsFA.Solid.Icon("0").WithSize(IconSize.lg).Font, Link = "/suggestions/october" });
        EventsFestivals.Add(new Item { Name = "November", LogoPath = IconsFA.Solid.Icon("1").WithSize(IconSize.lg).Font, LogoPath2 = IconsFA.Solid.Icon("1").WithSize(IconSize.lg).Font, Link = "/suggestions/november" });
        EventsFestivals.Add(new Item { Name = "December", LogoPath = IconsFA.Solid.Icon("1").WithSize(IconSize.lg).Font, LogoPath2 = IconsFA.Solid.Icon("2").WithSize(IconSize.lg).Font, Link = "/suggestions/december" });

        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        ScoresIndexes.Add(new Item { Name = "Corruption Perceptions", LogoPath = IconsFA.Solid.Icon("chart-simple").WithSize(IconSize.lg).Font, Link = $"/score/{Field.CorruptionScore.ToString().ToSlug()}" });
        ScoresIndexes.Add(new Item { Name = "HDI", LogoPath = IconsFA.Solid.Icon("chart-simple").WithSize(IconSize.lg).Font, Link = $"/score/{Field.HDI.ToString().ToSlug()}" });
        ScoresIndexes.Add(new Item { Name = "Quality of Democracy", LogoPath = IconsFA.Solid.Icon("chart-simple").WithSize(IconSize.lg).Font, Link = $"/score/{Field.DMDemocracyIndex.ToString().ToSlug()}" });
        ScoresIndexes.Add(new Item { Name = "Democracy Index", LogoPath = IconsFA.Solid.Icon("chart-simple").WithSize(IconSize.lg).Font, Link = $"/score/{Field.EconomistDemocracyIndex.ToString().ToSlug()}" });
        ScoresIndexes.Add(new Item { Name = "Freedom of Expression", LogoPath = IconsFA.Solid.Icon("chart-simple").WithSize(IconSize.lg).Font, Link = $"/score/{Field.FreedomExpressionIndex.ToString().ToSlug()}" });
        ScoresIndexes.Add(new Item { Name = "Freedom in the World", LogoPath = IconsFA.Solid.Icon("chart-simple").WithSize(IconSize.lg).Font, Link = $"/score/{Field.FreedomScore.ToString().ToSlug()}" });
        ScoresIndexes.Add(new Item { Name = "Censorship", LogoPath = IconsFA.Solid.Icon("chart-simple").WithSize(IconSize.lg).Font, Link = $"/score/{Field.CensorshipIndex.ToString().ToSlug()}" });
        ScoresIndexes.Add(new Item { Name = "World Happiness", LogoPath = IconsFA.Solid.Icon("chart-simple").WithSize(IconSize.lg).Font, Link = $"/score/{Field.HappinessIndex.ToString().ToSlug()}" });
        ScoresIndexes.Add(new Item { Name = "OECD", LogoPath = IconsFA.Solid.Icon("chart-simple").WithSize(IconSize.lg).Font, Link = $"/score/{Field.OECD.ToString().ToSlug()}" });
        ScoresIndexes.Add(new Item { Name = "GDP (PPP)", LogoPath = IconsFA.Solid.Icon("chart-simple").WithSize(IconSize.lg).Font, Link = $"/score/{Field.GDP_PPP.ToString().ToSlug()}" });
        ScoresIndexes.Add(new Item { Name = "GDP (Nominal)", LogoPath = IconsFA.Solid.Icon("chart-simple").WithSize(IconSize.lg).Font, Link = $"/score/{Field.GDP_Nominal.ToString().ToSlug()}" });
        ScoresIndexes.Add(new Item { Name = "Economic Freedom", LogoPath = IconsFA.Solid.Icon("chart-simple").WithSize(IconSize.lg).Font, Link = $"/score/{Field.EconomicFreedomIndex.ToString().ToSlug()}" });
        ScoresIndexes.Add(new Item { Name = "Safety (TSA)", LogoPath = IconsFA.Solid.Icon("chart-simple").WithSize(IconSize.lg).Font, Link = $"/score/{Field.TsaSafetyIndex.ToString().ToSlug()}" });
        ScoresIndexes.Add(new Item { Name = "Safety (Numbeo)", LogoPath = IconsFA.Solid.Icon("chart-simple").WithSize(IconSize.lg).Font, Link = $"/score/{Field.NumbeoSafetyIndex.ToString().ToSlug()}" });
        ScoresIndexes.Add(new Item { Name = "Global Terrorism", LogoPath = IconsFA.Solid.Icon("chart-simple").WithSize(IconSize.lg).Font, Link = $"/score/{Field.GlobalTerrorismIndex.ToString().ToSlug()}" });
        ScoresIndexes.Add(new Item { Name = "Global Peace", LogoPath = IconsFA.Solid.Icon("chart-simple").WithSize(IconSize.lg).Font, Link = $"/score/{Field.GlobalPeaceIndex.ToString().ToSlug()}" });
        ScoresIndexes.Add(new Item { Name = "Sanitation / Water", LogoPath = IconsFA.Solid.Icon("chart-simple").WithSize(IconSize.lg).Font, Link = $"/score/{Field.YaleWaterScore.ToString().ToSlug()}" });
        ScoresIndexes.Add(new Item { Name = "Pollution", LogoPath = IconsFA.Solid.Icon("chart-simple").WithSize(IconSize.lg).Font, Link = $"/score/{Field.NumbeoPollutionIndex.ToString().ToSlug()}" });
        ScoresIndexes.Add(new Item { Name = "Passport", LogoPath = IconsFA.Solid.Icon("chart-simple").WithSize(IconSize.lg).Font, Link = $"/score/{Field.VisaFree.ToString().ToSlug()}" });
        ScoresIndexes.Add(new Item { Name = "Tourism", LogoPath = IconsFA.Solid.Icon("chart-simple").WithSize(IconSize.lg).Font, Link = $"/score/{Field.TourismIndex.ToString().ToSlug()}" });
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await base.OnAfterRenderAsync(firstRender);

            var desktop = AppStateStatic.Breakpoint > Breakpoint.Xs;

            await JsRuntime.Swiper().InitLists(_swiperThemes, desktop ? 100 : 73);
            await JsRuntime.Swiper().InitLists(_swiperEvents, desktop ? 100 : 73);
            await JsRuntime.Swiper().InitLists(_swiperScores, desktop ? 100 : 73);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }
}