@page "/"
@page "/index"
@using NS.WEB.Modules.Country.Core
@using NS.WEB.Modules.Subscription.Core

@inherits PageCore<Index>
@inject IpInfoApi IpInfoApi

<SeoHeader Title="@SeoTranslations.AppSubtitle" Description="@SeoTranslations.AppDescription" Url="/" Keywords="@(["country"])"></SeoHeader>
<PageHeader Image="icon/icon-71.png" Title="@SeoTranslations.AppName" Subtitle="@SeoTranslations.AppSubtitle">
</PageHeader>

@* <GoogleAdSense Section="@GoogleAdSense.AdUnit.Index"></GoogleAdSense> *@

<PageSection Title="Countries" ButtonAction="false">
    <ActionFragment>
        <MudSelect Value="region" ValueChanged="@((string? vl) => { region = vl; subregion = null; StateHasChanged(); })" Label="Region" FitContent="!IsMobile" Clearable="true" Dense="true"
                   Class="me-2" Variant="Variant.Text">
            @foreach (var item in Countries.GetRegions())
            {
                <MudSelectItem Value="item">@item</MudSelectItem>
            }
        </MudSelect>
        <MudSelect Value="subregion" ValueChanged="@((string? vl) => { subregion = vl; StateHasChanged(); })" Label="Subregion" FitContent="!IsMobile" Clearable="true" Dense="true"
                   Class="ms-2" Variant="Variant.Text" Disabled="Countries.GetSubRegions(region).Empty()">
            @foreach (var item in Countries.GetSubRegions(region))
            {
                <MudSelectItem Value="item">@item</MudSelectItem>
            }
        </MudSelect>
    </ActionFragment>
    <BodyFragment>
        <div class="grid-relative-container-flag">
            @foreach (var item in Countries.GetCountries(region, subregion))
            {
                <MudPaper Class="pa-2" Style="text-align: center;">
                    <MudLink Href="@($"country/{item.Value.ToString().ToLower()}")" Style="line-height: normal;">
                        <MudImage Src="@item.Flag" Style="@($"{(IsMobile ? "height:35px;" : "height: 56px;")}")"></MudImage>
                        <MudText Style="@(IsMobile ? "font-size: 0.65rem;" : "font-size: 0.85em;")">@item.Name</MudText>
                    </MudLink>
                </MudPaper>
            }
        </div>
    </BodyFragment>
</PageSection>

@code {

    private List<EnumObjectCountry<NS.Shared.Enums.Country>> Countries { get; set; } = [];

    private string? region;
    private string? subregion;

    private bool IsMobile => Breakpoint <= Breakpoint.Xs;

    private bool SubscriptionAllowed { get; set; } = true;  

    protected override void OnInitialized()
    {
        Countries = EnumHelper.GetListCountry<NS.Shared.Enums.Country>();

        base.OnInitialized();
    }

}
