@inherits ComponentCore<BestDestinations>

<PageSectionComponent Title="@SeoTranslations.BestDestinations" Description="@SeoTranslations.BestDestinationsDesc">
    <ActionsFragment>
        <MudSelect Value="@continent" ValueChanged="@(async (string? vl) => { continent = vl; await ProcessInitialData(); StateHasChanged(); })"
                   Label="Continent" FitContent="true" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text">
            @foreach (var item in AllRegions?.GetContinents() ?? [])
            {
                <MudSelectItem Value="item">@item</MudSelectItem>
            }
        </MudSelect>
        <MudSelect Label="Subcontinent" FitContent="true" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text" Disabled="AllRegions?.GetSubContinents(continent).Empty() ?? true"
                   Value="subcontinent" ValueChanged="@(async (string? vl) => { subcontinent = vl; await ProcessInitialData(); StateHasChanged(); })">
            @foreach (var item in AllRegions?.GetSubContinents(continent) ?? [])
            {
                <MudSelectItem Value="item">@item</MudSelectItem>
            }
        </MudSelect>
    </ActionsFragment>
    <BodyFragment>
        <MudTabs KeepPanelsAlive="true" MinimumTabWidth="100" ApplyEffectsToContainer="true" TabPanelsClass="@Css.Build().Small("pt")"
                 ActivePanelIndexChanged="@(async (int vl) => { index = vl; await ProcessInitialData(); })">
            <ChildContent>
                <MudTabPanel Text="@Button.Score">
                    <Slider List="FilteredDestinations">
                        <div style="@($"width: {(IsMobile ? "110" : "130")}px;")">
                            <RegionComponent Region="context" HideFlag="@HideFlag(context?.code)" Culture="@Culture"
                                             TopLeftText="@((OrderedDestinations.FindIndex(p => p.code == context?.code) + 1).ToString() + "º")"
                                             TopRightText="@context?.score.ToString()"></RegionComponent>
                        </div>
                    </Slider>
                </MudTabPanel>
                <MudTabPanel Text="@Button.Safer">
                    <Slider List="FilteredDestinations">
                        <div style="@($"width: {(IsMobile ? "110" : "130")}px;")">
                            <RegionComponent Region="context" HideFlag="@HideFlag(context?.code)" Culture="@Culture"
                                             TopLeftText="@((OrderedDestinations.FindIndex(p => p.code == context?.code) + 1).ToString() + "º")"
                                             TopRightText="@context?.safetyScore.ToString()"></RegionComponent>
                        </div>
                    </Slider>                    
                </MudTabPanel>
                <MudTabPanel Text="@Button.Cheaper">
                    <Slider List="FilteredDestinations">
                        <div style="@($"width: {(IsMobile ? "110" : "130")}px;")">
                            <RegionComponent Region="context" HideFlag="@HideFlag(context?.code)" Culture="@Culture"
                                             TopLeftText="@((OrderedDestinations.FindIndex(p => p.code == context?.code) + 1).ToString() + "º")"
                                             TopRightText="@context?.expensesScore.ToString()"></RegionComponent>
                        </div>
                    </Slider>                    
                </MudTabPanel>
            </ChildContent>
        </MudTabs>
    </BodyFragment>
</PageSectionComponent>

@code {
    [Parameter][EditorRequired] public AllRegions? AllRegions { get; set; }
    [Parameter][EditorRequired] public string? Country { get; set; }
    [Parameter][EditorRequired] public string Culture { get; set; }

    private List<RegionModel> OrderedDestinations { get; set; } = [];
    private List<RegionModel> FilteredDestinations { get; set; } = [];

    private string? continent;
    private string? subcontinent;

    private int index;
    private bool IsMobile => AppStateStatic.Breakpoint == Breakpoint.Xs;

    protected override async Task ProcessInitialData()
    {
        var FilteredRegions = AllRegions?.GetList(continent, subcontinent).Select(s => s.code) ?? [];

        if (index == 0)
        {
            OrderedDestinations = AllRegions?.Items
                .OrderByDescending(x => x.score).ToList() ?? [];

            FilteredDestinations = OrderedDestinations
                .Where(p => FilteredRegions.Contains(p.code))
                .Take(15).ToList() ?? [];
        }
        else if (index == 1)
        {
            OrderedDestinations = AllRegions?.Items
               .OrderByDescending(x => x.safetyScore).ToList() ?? [];

            FilteredDestinations = OrderedDestinations
                .Where(p => FilteredRegions.Contains(p.code))
                .Take(15).ToList() ?? [];
        }
        else if (index == 2)
        {
            OrderedDestinations = AllRegions?.Items
              .OrderByDescending(x => x.expensesScore).ToList() ?? [];

            FilteredDestinations = OrderedDestinations
                .Where(p => FilteredRegions.Contains(p.code))
                .Take(15).ToList() ?? [];
        }
        else
        {
            OrderedDestinations = [];
            FilteredDestinations = [];
        }
    }

    private bool HideFlag(string? code)
    {
        if ((Country.Empty() || Country.ToLower() == "cn") && code!.ToLower() == "tw")
        {
            return true; //hide Taiwan flag for users from China or when country is unknown
        }
        else
        {
            return false;
        }
    }
}
