@using NS.WEB.Modules.Country.Core

@inherits ComponentCore<BestDestinations>

<NewPageSection Title="Best Destinations" Description="Exclusive selection from My Next Spot (based on dozens of different indexes and scores)">
    <ActionsFragment>
        <MudSelect Value="@continent" ValueChanged="@(async (string? vl) => { continent = vl; await ProcessInitialData(); StateHasChanged(); })"
                   Label="Continent" FitContent="true" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text">
            @foreach (var item in AllRegions?.GetContinents() ?? [])
            {
                <MudSelectItem Value="item">@item</MudSelectItem>
            }
        </MudSelect>
        <MudSelect Label="Subcontinent" FitContent="true" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text" Disabled="AllRegions?.GetSubContinents(continent).Empty() ?? true"
                   Value="subcontinent" ValueChanged="@(async (string? vl) => { subcontinent = vl; await ProcessInitialData(); StateHasChanged(); })">
            @foreach (var item in AllRegions?.GetSubContinents(continent) ?? [])
            {
                <MudSelectItem Value="item">@item</MudSelectItem>
            }
        </MudSelect>
    </ActionsFragment>
    <BodyFragment>
        <MudTabs KeepPanelsAlive="true" MinimumTabWidth="100" ApplyEffectsToContainer="true" PanelClass="@Css.Build().Small("pt")"
                 ActivePanelIndexChanged="@(async (int vl) => { index = vl; await ProcessInitialData(); })">
            <ChildContent>
                <MudTabPanel Text="Scores">
                    <div id="@_swiperScore" class="swiper">
                        <div class="swiper-wrapper">
                            @foreach (var item in FilteredDestinations)
                            {
                                <div class="swiper-slide" style="height: auto !important;">
                                    <RegionComponent Region="item" HideFlag="@HideFlag(item?.code)"
                                                     TopLeftText="@((OrderedDestinations.FindIndex(p => p.code == item?.code) + 1).ToString() + "º")"
                                                     TopRightText="@item?.score.ToString()"></RegionComponent>
                                </div>
                            }
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </MudTabPanel>
                <MudTabPanel Text="Safer">
                    <div id="@_swiperSafer" class="swiper">
                        <div class="swiper-wrapper">
                            @foreach (var item in FilteredDestinations)
                            {
                                <div class="swiper-slide" style="height: auto !important;">
                                    <RegionComponent Region="item" HideFlag="@HideFlag(item?.code)"
                                                     TopLeftText="@((OrderedDestinations.FindIndex(p => p.code == item?.code) + 1).ToString() + "º")"
                                                     TopRightText="@item?.safetyScore.ToString()"></RegionComponent>
                                </div>
                            }
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </MudTabPanel>
                <MudTabPanel Text="Cheaper">
                    <div id="@_swiperCheaper" class="swiper">
                        <div class="swiper-wrapper">
                            @foreach (var item in FilteredDestinations)
                            {
                                <div class="swiper-slide" style="height: auto !important;">
                                    <RegionComponent Region="item" HideFlag="@HideFlag(item?.code)"
                                                     TopLeftText="@((OrderedDestinations.FindIndex(p => p.code == item?.code) + 1).ToString() + "º")"
                                                     TopRightText="@item?.costScore.ToString()"></RegionComponent>
                                </div>
                            }
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </MudTabPanel>
            </ChildContent>
        </MudTabs>
    </BodyFragment>
</NewPageSection>

@code {
    [Parameter][EditorRequired] public AllRegions? AllRegions { get; set; }
    [Parameter][EditorRequired] public string? Country { get; set; }

    private List<RegionModel> OrderedDestinations { get; set; } = [];
    private List<RegionModel> FilteredDestinations { get; set; } = [];

    private string? continent;
    private string? subcontinent;

    private int index;

    private readonly string _swiperScore = $"swiper-{Guid.NewGuid()}";
    private readonly string _swiperSafer = $"swiper-{Guid.NewGuid()}";
    private readonly string _swiperCheaper = $"swiper-{Guid.NewGuid()}";

    protected override async Task ProcessInitialData()
    {
        var FilteredRegions = AllRegions?.GetList(continent, subcontinent).Select(s => s.code) ?? [];

        if (index == 0)
        {
            OrderedDestinations = AllRegions?.Items
                .OrderByDescending(x => x.score).ToList() ?? [];

            FilteredDestinations = OrderedDestinations
                .Where(p => FilteredRegions.Contains(p.code))
                .Take(20).ToList() ?? [];
        }
        else if (index == 1)
        {
            OrderedDestinations = AllRegions?.Items
               .OrderByDescending(x => x.safetyScore).ToList() ?? [];

            FilteredDestinations = OrderedDestinations
                .Where(p => FilteredRegions.Contains(p.code))
                .Take(20).ToList() ?? [];
        }
        else if (index == 2)
        {
            OrderedDestinations = AllRegions?.Items
              .OrderByDescending(x => x.costScore).ToList() ?? [];

            FilteredDestinations = OrderedDestinations
                .Where(p => FilteredRegions.Contains(p.code))
                .Take(20).ToList() ?? [];
        }
        else
        {
            OrderedDestinations = [];
            FilteredDestinations = [];
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await base.OnAfterRenderAsync(firstRender);

            await JsRuntime.Swiper().InitLists(_swiperScore);
            await JsRuntime.Swiper().InitLists(_swiperSafer);
            await JsRuntime.Swiper().InitLists(_swiperCheaper);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private bool HideFlag(string? code)
    {
        if ((Country.Empty() || Country.ToLower() == "cn") && code!.ToLower() == "tw")
        {
            return true; //hide Taiwan flag for users from China or when country is unknown
        }
        else
        {
            return false;
        }
    }

}
