@using NS.WEB.Modules.Country.Core
@using SD.WEB.Shared.Core

@inherits ComponentCore<GlobalCities>

@inject SuggestionsApi SuggestionsApi

<NewPageSection Title="@Suggestion?.Title" Description="@Suggestion?.Description">
    <ActionsFragment>
        <MudSelect Value="@continent" ValueChanged="@((string? vl) => { continent = vl; ApplyFilter(); StateHasChanged(); })"
                   Label="Continent" FitContent="true" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text">
            @foreach (var item in AllRegions?.GetContinents() ?? [])
            {
                <MudSelectItem Value="item">@item</MudSelectItem>
            }
        </MudSelect>
        <MudSelect Label="Subcontinent" FitContent="true" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text" Disabled="AllRegions?.GetSubContinents(continent).Empty() ?? true"
                   Value="subcontinent" ValueChanged="@((string? vl) => { subcontinent = vl; ApplyFilter(); StateHasChanged(); })">
            @foreach (var item in AllRegions?.GetSubContinents(continent) ?? [])
            {
                <MudSelectItem Value="item">@item</MudSelectItem>
            }
        </MudSelect>
    </ActionsFragment>
    <BodyFragment>
        <MudTabs KeepPanelsAlive="true" MinimumTabWidth="100" ApplyEffectsToContainer="true" TabPanelsClass="@Css.Build().Small("pt")"
                 ActivePanelIndexChanged="@(async (int vl) => { index = vl; await ProcessInitialData(); })">
            <ChildContent>
                <MudTabPanel Text="alpha">
                </MudTabPanel>
                <MudTabPanel Text="beta">
                </MudTabPanel>
                <MudTabPanel Text="gamma">
                </MudTabPanel>
                <MudTabPanel Text="sufficiency">
                </MudTabPanel>
            </ChildContent>
        </MudTabs>
        <RenderControl Actions="Actions">
            <div id="@_swiperScore" class="swiper">
                <div class="swiper-wrapper">
                    @foreach (var suggestion in FilteredSuggestions)
                    {
                        var code = suggestion.Code;
                        var item = AllRegions?.GetByCode(code);

                        <div class="swiper-slide" style="height: auto !important;">
                            <RegionComponent Region="item" CustomName="@(suggestion.Title.NotEmpty() ? $"{suggestion.Title} - {item?.name}" : item?.name)" HideFlag="@HideFlag(item?.code)"
                                             TopRightText="@suggestion.Description">
                            </RegionComponent>
                        </div>
                    }
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </RenderControl>
    </BodyFragment>
</NewPageSection>

@code {
    [Parameter][EditorRequired] public AllRegions? AllRegions { get; set; }
    [Parameter][EditorRequired] public string? Country { get; set; }

    private Suggestion? Suggestion { get; set; }
    private ComponentActions<Suggestion?> Actions { get; set; } = new(obj => obj == null || obj.Regions.Empty());
    private List<SuggestionRegion> FilteredSuggestions { get; set; } = [];

    private string? continent;
    private string? subcontinent;
    private readonly string _swiperScore = $"swiper-{Guid.NewGuid()}";

    private int index;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await base.OnAfterRenderAsync(firstRender);

            await JsRuntime.Swiper().InitLists(_swiperScore);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private string category => index switch
    {
        0 => "alpha",
        1 => "beta",
        2 => "gamma",
        3 => "sufficiency",
        _ => "alpha"
    };

    protected override async Task ProcessInitialData()
    {
        //https://en.wikipedia.org/wiki/Globalization_and_World_Cities_Research_Network
        await Actions.StartLoading.Invoke(null);
        Suggestion = await SuggestionsApi.SuggestionGet($"global-cities-{category}");
        ApplyFilter();
        await Actions.FinishLoading.Invoke(Suggestion);
    }

    private void ApplyFilter()
    {
        var FilteredRegions = AllRegions?.GetList(continent, subcontinent).Select(s => s.code) ?? [];

        FilteredSuggestions = Suggestion?.Regions
            .Where(p => p.Description?.Contains(category!, StringComparison.InvariantCultureIgnoreCase) ?? false)
            .Where(p => FilteredRegions.Contains(p.Code)).Take(20).ToList() ?? [];
    }

    private bool HideFlag(string? code)
    {
        if ((Country.Empty() || Country.ToLower() == "cn") && code!.ToLower() == "tw")
        {
            return true; //hide Taiwan flag for users from China or when country is unknown
        }
        else
        {
            return false;
        }
    }
}
