@using NS.WEB.Modules.Country.Core
@using NS.WEB.Shared.Core

@inherits ComponentParameterCore<GlobalCities>

@inject SuggestionsApi SuggestionsApi

<PageSectionComponent Title="@_title" Description="@_desc">
    <ActionsFragment>
        <MudSelect Value="@continent" ValueChanged="@(async (string? vl) => { continent = vl; ApplyFilter(); await Actions.FinishLoading.Invoke(Suggestion); })"
                   Label="Continent" FitContent="true" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text">
            @foreach (var item in AllRegions?.GetContinents() ?? [])
            {
                <MudSelectItem Value="@item">@item</MudSelectItem>
            }
        </MudSelect>
        <MudSelect Label="Subcontinent" FitContent="true" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text" Disabled="AllRegions?.GetSubContinents(continent).Empty() ?? true"
                   Value="subcontinent" ValueChanged="@(async (string? vl) => { subcontinent = vl; ApplyFilter(); await Actions.FinishLoading.Invoke(Suggestion); })">
            @foreach (var item in AllRegions?.GetSubContinents(continent) ?? [])
            {
                <MudSelectItem Value="@item">@item</MudSelectItem>
            }
        </MudSelect>
    </ActionsFragment>
    <BodyFragment>
        <MudTabs KeepPanelsAlive="true" MinimumTabWidth="100" ApplyEffectsToContainer="true" TabPanelsClass="@Css.Build().Small("pt")"
                 ActivePanelIndexChanged="@(async (int vl) => { index = vl; await LoadParameterDataAsync(); })">
            <ChildContent>
                <MudTabPanel Text="@Translations.Button.Alpha">
                </MudTabPanel>
                <MudTabPanel Text="@Translations.Button.Beta">
                </MudTabPanel>
                <MudTabPanel Text="@Translations.Button.Gamma">
                </MudTabPanel>
                <MudTabPanel Text="@Translations.Button.Sufficiency">
                </MudTabPanel>
            </ChildContent>
        </MudTabs>
        <RenderControl Actions="Actions" LoadingHeight="120px">
            <Slider List="FilteredSuggestions" LoadingHeight="120px" Context="ctx">
                @{
                    var code = ctx.Code;
                    var item = AllRegions?.GetByCode(code);
                }

                <div style="@($"width: {(IsMobile ? "110" : "130")}px;")">
                    <RegionComponent Region="item" CustomName="@(ctx.Title.NotEmpty() ? $"{ctx.Title} - {item?.name}" : item?.name)" HideFlag="@HideFlag(item?.code)"
                                     TopRightText="@ctx.Description" Culture="@Culture">
                    </RegionComponent>
                </div>
            </Slider>
        </RenderControl>
    </BodyFragment>
</PageSectionComponent>

@code {
    [Parameter][EditorRequired] public AllRegions? AllRegions { get; set; }
    [Parameter][EditorRequired] public string? Country { get; set; }
    [Parameter][EditorRequired] public string Culture { get; set; }

    private Suggestion? Suggestion { get; set; }
    private ComponentActions<Suggestion?> Actions { get; set; } = new(obj => obj == null || obj.Regions.Empty());
    private List<SuggestionRegion> FilteredSuggestions { get; set; } = [];

    private SuggestionList[] Suggestions { get; set; } = [];
    private string? _title { get; set; }
    private string? _desc { get; set; }

    private string? continent;
    private string? subcontinent;
    private bool IsMobile => AppStateStatic.Breakpoint == Breakpoint.Xs;

    private int index = 0;
    private string category => index switch
    {
        0 => "alpha",
        1 => "beta",
        2 => "gamma",
        3 => "sufficiency",
        _ => throw new Exception("Invalid index")
    };

    protected override object GetParameterKey()
    {
        return new
        {
            category
        };
    }

    protected override async Task LoadParameterDataAsync()
    {
        var id = $"global-cities-{category}";

        if (Suggestions.Empty()) Suggestions = EnumHelper.GetValues<SuggestionList>();
        _title = Suggestions.Single(p => p.GetFieldSettings(false).Name == id).GetFieldSettings(true).Title;
        _desc = Suggestions.Single(p => p.GetFieldSettings(false).Name == id).GetFieldSettings(true).Description;

        //https://en.wikipedia.org/wiki/Globalization_and_World_Cities_Research_Network
        Suggestion = await SuggestionsApi.SuggestionGet(id, Actions, cts.Token);
        ApplyFilter();
    }

    private void ApplyFilter()
    {
        var FilteredRegions = AllRegions?.GetList(continent, subcontinent).Select(s => s.code) ?? [];

        FilteredSuggestions = Suggestion?.Regions
            .Where(p => p.Description?.Contains(category!, StringComparison.InvariantCultureIgnoreCase) ?? false)
            .Where(p => FilteredRegions.Contains(p.Code)).Take(15).ToList() ?? [];
    }

    private bool HideFlag(string? code)
    {
        if ((Country.Empty() || Country.ToLower() == "cn") && code!.ToLower() == "tw")
        {
            return true; //hide Taiwan flag for users from China or when country is unknown
        }
        else
        {
            return false;
        }
    }
}
