@using NS.WEB.Modules.Country.Core
@using NS.WEB.Shared.Core

@inherits ComponentCore<GlobalCities>

@inject SuggestionsApi SuggestionsApi

<PageSectionComponent Title="@_title" Description="@_desc">
    <ActionsFragment>
        <MudSelect Value="@continent" ValueChanged="@((string? vl) => { continent = vl; ApplyFilter(); StateHasChanged(); })"
                   Label="Continent" FitContent="true" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text">
            @foreach (var item in AllRegions?.GetContinents() ?? [])
            {
                <MudSelectItem Value="item">@item</MudSelectItem>
            }
        </MudSelect>
        <MudSelect Label="Subcontinent" FitContent="true" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text" Disabled="AllRegions?.GetSubContinents(continent).Empty() ?? true"
                   Value="subcontinent" ValueChanged="@((string? vl) => { subcontinent = vl; ApplyFilter(); StateHasChanged(); })">
            @foreach (var item in AllRegions?.GetSubContinents(continent) ?? [])
            {
                <MudSelectItem Value="item">@item</MudSelectItem>
            }
        </MudSelect>
    </ActionsFragment>
    <BodyFragment>
        <MudTabs KeepPanelsAlive="true" MinimumTabWidth="100" ApplyEffectsToContainer="true" TabPanelsClass="@Css.Build().Small("pt")"
                 ActivePanelIndexChanged="@(async (int vl) => { index = vl; await ProcessInitialData(); })">
            <ChildContent>
                <MudTabPanel Text="@Button.Alpha">
                </MudTabPanel>
                <MudTabPanel Text="@Button.Beta">
                </MudTabPanel>
                <MudTabPanel Text="@Button.Gamma">
                </MudTabPanel>
                <MudTabPanel Text="@Button.Sufficiency">
                </MudTabPanel>
            </ChildContent>
        </MudTabs>
        <RenderControl Actions="Actions" LoadingHeight="120px">
            <div id="@_swiperScore" class="splide" role="group">
                <div class="splide__arrows">
                    <button class="splide__arrow splide__arrow--prev">
                        <MudIcon Icon="@IconsFA.Solid.Icon("circle-chevron-right").Font" Color="Color.Primary" Style="font-size: 30px;"></MudIcon>
                    </button>
                    <button class="splide__arrow splide__arrow--next">
                        <MudIcon Icon="@IconsFA.Solid.Icon("circle-chevron-right").Font" Color="Color.Primary" Style="font-size: 30px;"></MudIcon>
                    </button>
                </div>
                <div class="splide__track">
                    <ul class="splide__list">
                        @foreach (var suggestion in FilteredSuggestions)
                        {
                            var code = suggestion.Code;
                            var item = AllRegions?.GetByCode(code);

                            <li class="splide__slide">
                                <div class="swiper-slide" style="@($"width: {(IsMobile ? "110" : "130")}px")">
                                    <RegionComponent Region="item" CustomName="@(suggestion.Title.NotEmpty() ? $"{suggestion.Title} - {item?.name}" : item?.name)" HideFlag="@HideFlag(item?.code)"
                                                     TopRightText="@suggestion.Description" Culture="@Culture">
                                    </RegionComponent>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </RenderControl>
    </BodyFragment>
</PageSectionComponent>

@code {
    [Parameter][EditorRequired] public AllRegions? AllRegions { get; set; }
    [Parameter][EditorRequired] public string? Country { get; set; }
    [Parameter][EditorRequired] public string Culture { get; set; }

    private Suggestion? Suggestion { get; set; }
    private ComponentActions<Suggestion?> Actions { get; set; } = new(obj => obj == null || obj.Regions.Empty());
    private List<SuggestionRegion> FilteredSuggestions { get; set; } = [];

    private SuggestionList[] Suggestions { get; set; } = [];
    private string? _title { get; set; }
    private string? _desc { get; set; }

    private string? continent;
    private string? subcontinent;
    private readonly string _swiperScore = $"swiper-{Guid.NewGuid()}";
    private bool IsMobile => AppStateStatic.Breakpoint == Breakpoint.Xs;

    private int index = 0;
    private string category => index switch
    {
        0 => "alpha",
        1 => "beta",
        2 => "gamma",
        3 => "sufficiency",
        _ => throw new Exception("Invalid index")
    };

    protected override async Task ProcessInitialData()
    {
        var id = $"global-cities-{category}";

        if (Suggestions.Empty()) Suggestions = EnumHelper.GetArray<SuggestionList>();
        _title = Suggestions.Single(p => p.GetSuggestionCustomAttribute(false).Name == id).GetSuggestionCustomAttribute(true).Title;
        _desc = Suggestions.Single(p => p.GetSuggestionCustomAttribute(false).Name == id).GetSuggestionCustomAttribute(true).Description;

        //https://en.wikipedia.org/wiki/Globalization_and_World_Cities_Research_Network
        await Actions.StartLoading.Invoke(null);
        Suggestion = await SuggestionsApi.SuggestionGet(id, cts.Token);
        ApplyFilter();
        await Actions.FinishLoading.Invoke(Suggestion);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await base.OnAfterRenderAsync(firstRender);

            await JsRuntime.Slider().InitLists(_swiperScore, cts.Token);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private void ApplyFilter()
    {
        var FilteredRegions = AllRegions?.GetList(continent, subcontinent).Select(s => s.code) ?? [];

        FilteredSuggestions = Suggestion?.Regions
            .Where(p => p.Description?.Contains(category!, StringComparison.InvariantCultureIgnoreCase) ?? false)
            .Where(p => FilteredRegions.Contains(p.Code)).Take(15).ToList() ?? [];
    }

    private bool HideFlag(string? code)
    {
        if ((Country.Empty() || Country.ToLower() == "cn") && code!.ToLower() == "tw")
        {
            return true; //hide Taiwan flag for users from China or when country is unknown
        }
        else
        {
            return false;
        }
    }
}
