@using NS.WEB.Modules.Country.Core

@inherits ComponentCore<GlobalCities>

@inject SuggestionsApi SuggestionsApi

<PageSection Title="@Suggestion?.Title" Description="@Suggestion?.Description">
    <ActionFragment>
        <MudSelect Value="@category" ValueChanged="@(async (string? vl) => { category = vl; await LoadEssentialDataAsync(); StateHasChanged(); })"
                   Label="Category" FitContent="true" Dense="true" Class="me-2" Variant="Variant.Text">
            <MudSelectItem Value="@("alpha")">Alpha</MudSelectItem>
            <MudSelectItem Value="@("beta")">Beta</MudSelectItem>
            <MudSelectItem Value="@("gamma")">Gamma</MudSelectItem>
            <MudSelectItem Value="@("sufficiency")">Sufficiency</MudSelectItem>
        </MudSelect>
        <MudSelect Value="@continent" ValueChanged="@((string? vl) => { continent = vl; ApplyFilter(); StateHasChanged(); })"
                   Label="Continent" FitContent="true" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text">
            @foreach (var item in AllRegions?.GetContinents() ?? [])
            {
                <MudSelectItem Value="item">@item</MudSelectItem>
            }
        </MudSelect>
    </ActionFragment>
    <BodyFragment>
        <RenderControl Model="Suggestion" ExpressionEmpty="(obj) => obj == null || obj.Regions.Empty()" Core="Core">
            <div id="@_swiperScore" class="swiper">
                <div class="swiper-wrapper">
                    @foreach (var suggestion in FilteredSuggestions)
                    {
                        var code = suggestion.Code;
                        var item = AllRegions?.GetByCode(code);

                        <div class="swiper-slide" style="height: auto !important;">
                            <RegionComponent Region="item" CustomName="@(suggestion.Title.NotEmpty() ? $"{suggestion.Title} - {item?.name}" : item?.name)"
                                             TopRightText="@suggestion.Description">
                            </RegionComponent>
                        </div>
                    }
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </RenderControl>
    </BodyFragment>
</PageSection>

@code {
    [Parameter] public AllRegions? AllRegions { get; set; }

    private Suggestion? Suggestion { get; set; }
    private RenderControlCore<Suggestion?> Core { get; set; } = new();
    private List<SuggestionRegion> FilteredSuggestions { get; set; } = [];

    private string? continent;
    private string? category = "alpha";
    private readonly string _swiperScore = $"swiper-{Guid.NewGuid()}";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await base.OnAfterRenderAsync(firstRender);

            await JsRuntime.Swiper().InitLists(_swiperScore);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    protected override async Task LoadEssentialDataAsync()
    {
        //https://en.wikipedia.org/wiki/Globalization_and_World_Cities_Research_Network
        Core.LoadingStarted?.Invoke();
        Suggestion = await SuggestionsApi.SuggestionGet($"global-cities-{category}");
        ApplyFilter();
        Core.LoadingFinished?.Invoke(Suggestion);
    }

    protected override async Task LoadParameterizedDataAsync()
    {
        ApplyFilter();
    }

    private void ApplyFilter()
    {
        var FilteredRegions = AllRegions?.GetList(continent).Select(s => s.code) ?? [];

        FilteredSuggestions = Suggestion?.Regions
            .Where(p => p.Description?.Contains(category!, StringComparison.InvariantCultureIgnoreCase) ?? false)
            .Where(p => FilteredRegions.Contains(p.Code)).Take(20).ToList() ?? [];
    }
}
