@page "/{culture}/explore/{region}/holiday"
@using Heron.MudCalendar
@using NS.Shared.Models.Holiday
@using NS.WEB.Shared.Core
@inherits PageParameterCore<HolidayComponent>

@inject CacheHolidayApi CacheHolidayApi

<HeadComponent Title="@Translations.Module.Country.NationalHolidaysIn.Format(Region)" Description="@Translations.Module.Country.NationalHolidaysDescLong" Url=@($"/{Culture}/explore/{Region}/holiday") Index="false"></HeadComponent>
<PageSectionComponent Title="@Translations.Module.Country.NationalHolidaysIn.Format(Region)" Description="@Translations.Module.Country.NationalHolidaysDescLong">
    <BodyFragment>
        <RenderControl Actions="Actions" Context="ctx">
            <MudCalendar Items="Items" ShowWeek="false" ShowDay="false" MinDate="new DateTime(DateTime.Now.Year, 1, 1)" MaxDate="new DateTime(DateTime.Now.Year, 12, 31)">
                <MonthTemplate>
                    @{
                        var type = context.Text.Split('|')[0];
                        var name = context.Text.Split('|')[1];
                        var desc = context.Text.Split('|')[2];
                    }
                    <MudTooltip Text="@desc" RootStyle="width: 96%;">
                        @if (type == "National holiday")
                        {
                            <MudChip T="string" Icon="@IconsFA.Solid.Icon("flag").Font" Color="Color.Secondary" Size="Size.Small" Label="true" Class="custom-chip-calendar">
                                @name.Truncate(DefaultTrucateLength)
                            </MudChip>
                        }
                        else if (type.Contains("Local holiday", StringComparison.CurrentCultureIgnoreCase))
                        {
                            <MudChip T="string" Icon="@IconsFA.Solid.Icon("house").Font" Color="Color.Secondary" Size="Size.Small" Label="true" Class="custom-chip-calendar">
                                @name.Truncate(DefaultTrucateLength)
                            </MudChip>
                        }
                        else if (type.IsReligiousHoliday())
                        {
                            <MudChip T="string" Icon="@IconsFA.Solid.Icon("church").Font" Color="Color.Secondary" Size="Size.Small" Label="true" Class="custom-chip-calendar">
                                @name.Truncate(DefaultTrucateLength)
                            </MudChip>
                        }
                        else if (type.Contains("Observance", StringComparison.CurrentCultureIgnoreCase))
                        {
                            <MudChip T="string" Icon="@IconsFA.Solid.Icon("calendar-day").Font" Color="Color.Tertiary" Size="Size.Small" Label="true" Class="custom-chip-calendar">
                                @name.Truncate(DefaultTrucateLength)
                            </MudChip>
                        }
                        else if (type == "Season")
                        {
                            <MudChip T="string" Icon="@IconsFA.Solid.Icon("leaf").Font" Color="Color.Tertiary" Size="Size.Small" Label="true" Class="custom-chip-calendar">
                                @name.Truncate(DefaultTrucateLength)
                            </MudChip>
                        }
                        else if (type == "Sporting event")
                        {
                            <MudChip T="string" Icon="@IconsFA.Solid.Icon("trophy").Font" Color="Color.Tertiary" Size="Size.Small" Label="true" Class="custom-chip-calendar">
                                @name.Truncate(DefaultTrucateLength)
                            </MudChip>
                        }
                        else if (type == "Clock change/Daylight Saving Time")
                        {
                            <MudChip T="string" Icon="@IconsFA.Solid.Icon("clock").Font" Color="Color.Tertiary" Size="Size.Small" Label="true" Class="custom-chip-calendar">
                                @name.Truncate(DefaultTrucateLength)
                            </MudChip>
                        }
                        else if (type == "Weekend")
                        {
                            <MudChip T="string" Icon="@IconsFA.Solid.Icon("calendar-week").Font" Color="Color.Tertiary" Size="Size.Small" Label="true" Class="custom-chip-calendar">
                                @name.Truncate(DefaultTrucateLength)
                            </MudChip>
                        }
                        else if (type == "Half-day holiday")
                        {
                            <MudChip T="string" Icon="@IconsFA.Solid.Icon("clock-rotate-left").Font" Color="Color.Tertiary" Size="Size.Small" Label="true" Class="custom-chip-calendar">
                                @name.Truncate(DefaultTrucateLength)
                            </MudChip>
                        }
                        else if (type == "Optional holiday")
                        {
                            <MudChip T="string" Icon="@IconsFA.Solid.Icon("toggle-on").Font" Color="Color.Tertiary" Size="Size.Small" Label="true" Class="custom-chip-calendar">
                                @name.Truncate(DefaultTrucateLength)
                            </MudChip>
                        }
                        else
                        {
                            <MudChip T="string" Icon="@IconsFA.Solid.Icon("circle-question").Font" Color="Color.Tertiary" Size="Size.Small" Label="true" Class="custom-chip-calendar">
                                @name.Truncate(DefaultTrucateLength)
                            </MudChip>
                        }
                    </MudTooltip>
                </MonthTemplate>
            </MudCalendar>
        </RenderControl>
        <MudPaper Class="pa-3 mt-3">
            <MudText Typo="Typo.subtitle1" Class="mb-2">Legend</MudText>

            <div class="d-flex flex-wrap gap-1">
                @foreach (var item in GetLegend())
                {
                    <MudChip T="string" Icon="@item.Icon" Color="@item.Color" Size="Size.Small" Label="true" Style="height: 30px !important;">
                        @item.Label
                    </MudChip>
                }
            </div>
        </MudPaper>
    </BodyFragment>
</PageSectionComponent>

<FloatingButton Template="Template.Back"></FloatingButton>

<style>
    .mud-cal-month-cell-header {
        padding-bottom: 4px;
    }

    .custom-chip-calendar {
        width: 100%;
        white-space: break-spaces;
        line-height: 1;
        height: 30px !important;
    }
</style>

@code {
    [Parameter][EditorRequired] public string? Region { get; set; }

    public ComponentActions<CacheDocument<HolidayModel>?> Actions { get; set; } = new(obj => obj?.Data == null);
    private CacheDocument<HolidayModel>? Holiday { get; set; }
    private List<CalendarItem> Items => Holiday?.Data?.Items
        .Select(item => new CalendarItem { Start = item.date!.Value, Text = $"{item.type}|{item.name}|{item.desc}", AllDay = true }).ToList() ?? [];

    private int DefaultTrucateLength => 46;

    protected override object GetParameterKey()
    {
        return new
        {
            Region
        };
    }

    protected override async Task LoadParameterDataAsync()
    {
        if (Region.NotEmpty()) Holiday = await CacheHolidayApi.GetHoliday(Region, Actions, cts.Token);
    }

    private string? GetDayClass(DateTime date)
    {
        if (Holiday?.Data == null) return null;

        return Holiday.Data.Items.Select(item => item.date).Contains(date.Date) ? "holiday-day" : null;
    }

    public record HolidayLegendItem(string? Icon, string Label, Color Color);

    public List<HolidayLegendItem> GetLegend()
    {
        return [
            new(IconsFA.Solid.Icon("flag").Font, "National holiday", Color.Secondary),
            new(IconsFA.Solid.Icon("house").Font, "Local holiday", Color.Secondary),
            new(IconsFA.Solid.Icon("church").Font, "Religious holiday", Color.Secondary),
            new(IconsFA.Solid.Icon("calendar-day").Font, "Observance", Color.Tertiary),
            new(IconsFA.Solid.Icon("leaf").Font, "Season", Color.Tertiary),
            new(IconsFA.Solid.Icon("trophy").Font, "Sporting event", Color.Tertiary),
            new(IconsFA.Solid.Icon("clock").Font, "Clock change", Color.Tertiary),
            new(IconsFA.Solid.Icon("calendar-week").Font, "Weekend", Color.Tertiary),
            new(IconsFA.Solid.Icon("clock-rotate-left").Font, "Half-day holiday", Color.Tertiary),
            new(IconsFA.Solid.Icon("toggle-on").Font, "Optional holiday", Color.Tertiary),
            new(IconsFA.Solid.Icon("circle-question").Font, "Other", Color.Tertiary),
        ];
    }
}
