@using NS.Shared.Resources.Enum
@using NS.WEB.Modules.Country.Core
@using NS.WEB.Shared.Core

@inherits ComponentCore<MostVisitedCities>

@inject SuggestionsApi SuggestionsApi

<PageSectionComponent Title="@SuggestionEnum.MostVisitedTitle" Description="@SuggestionEnum.MostVisitedDescription">
    <ActionsFragment>
        <MudSelect Value="@continent" ValueChanged="@((string? vl) => { continent = vl; ApplyFilter(); StateHasChanged(); })"
                   Label="Continent" FitContent="true" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text">
            @foreach (var item in AllRegions?.GetContinents() ?? [])
            {
                <MudSelectItem Value="item">@item</MudSelectItem>
            }
        </MudSelect>
        <MudSelect Label="Subcontinent" FitContent="true" Clearable="true" Dense="true" Class="me-2" Variant="Variant.Text" Disabled="AllRegions?.GetSubContinents(continent).Empty() ?? true"
                   Value="subcontinent" ValueChanged="@((string? vl) => { subcontinent = vl; ApplyFilter(); StateHasChanged(); })">
            @foreach (var item in AllRegions?.GetSubContinents(continent) ?? [])
            {
                <MudSelectItem Value="item">@item</MudSelectItem>
            }
        </MudSelect>
    </ActionsFragment>
    <BodyFragment>
        <RenderControl Actions="Actions">
            <Slider List="FilteredSuggestions" LoadingHeight="120px" Context="ctx">
                @{
                    var code = ctx.Code;
                    var item = AllRegions?.GetByCode(code);
                }

                <div style="@($"width: {(IsMobile ? "110" : "130")}px;")">
                    <RegionComponent Region="item" CustomName="@(ctx.Title.NotEmpty() ? $"{ctx.Title} - {item?.name}" : item?.name)" HideFlag="@HideFlag(item?.code)"
                                     TopLeftText="@(ctx.Index + "º")" Culture="@Culture"
                                     TopRightText="@ctx.Description">
                    </RegionComponent>
                </div>
            </Slider>
        </RenderControl>
    </BodyFragment>
</PageSectionComponent>

@code {
    [Parameter][EditorRequired] public AllRegions? AllRegions { get; set; }
    [Parameter][EditorRequired] public string? Country { get; set; }
    [Parameter][EditorRequired] public string Culture { get; set; }

    private Suggestion? Suggestion { get; set; }
    private ComponentActions<List<SuggestionRegion>> Actions { get; set; } = new(lst => lst == null || lst.Empty());
    private List<SuggestionRegion> FilteredSuggestions { get; set; } = [];

    private string? continent;
    private string? subcontinent;
    private bool IsMobile => AppStateStatic.Breakpoint == Breakpoint.Xs;

    protected override async Task ProcessInitialData()
    {
        //https://statranker.org/cities-urban-life/top-100-cities-by-international-tourist-arrivals-2025
        await Actions.StartLoading.Invoke(null);
        Suggestion = await SuggestionsApi.SuggestionGet("most-visited", cts.Token);
        ApplyFilter();
        await Actions.FinishLoading.Invoke(FilteredSuggestions);
    }

    private void ApplyFilter()
    {
        var FilteredRegions = AllRegions?.GetList(continent, subcontinent).Select(s => s.code) ?? [];
        FilteredSuggestions = Suggestion?.Regions.Where(p => FilteredRegions.Contains(p.Code)).Take(15).ToList() ?? [];
    }

    private bool HideFlag(string? code)
    {
        if ((Country.Empty() || Country.ToLower() == "cn") && code!.ToLower() == "tw")
        {
            return true; //hide Taiwan flag for users from China or when country is unknown
        }
        else
        {
            return false;
        }
    }
}
