@using System.Globalization
@using NS.Shared.Models.Weather
@using NS.WEB.Modules.Country.Resources
@using NS.WEB.Shared.Core
@inherits ComponentCore<WeatherComponent>

@inject CacheWeatherApi CacheWeatherApi

<PageSectionComponent Title="@($"{Translations.WeatherTitle}")" Description="@(string.Format(Translations.WeatherDescriptionShort, (City.Empty() ? "Not Available" : City)))" Icon="@IconsFA.Solid.Icon("cloud-sun-rain").Font">
    <BodyFragment>
        <RenderControl Actions="Actions" Context="ctx">
            <MudTabs KeepPanelsAlive="true" MinimumTabWidth="100" ApplyEffectsToContainer="true" TabPanelsClass="@Css.Build().Small("pt")"
                     ActivePanelIndexChanged="@(async (int vl) => { index = vl; })">
                <Header>
                    <MudTooltip Text="@Button.Expand">
                        <MudIconButton Icon="@Icons.Material.Filled.Fullscreen" Color="Color.Primary" Disabled="true" />
                    </MudTooltip>
                </Header>
                <ChildContent>
                    <MudTabPanel Text="@GlobalTranslations.CurrentMonth">
                        <MudGrid Spacing="@Css.SpaceSmall">
                            @* Temperature *@
                            <MudItem xs="6" Style="padding-top: 4px;">
                                <MudChip T="string" Variant="Variant.Filled" Size="AppStateStatic.Size" Style="width: 100%;">
                                    @GlobalTranslations.Temperature
                                </MudChip>
                            </MudItem>
                            <MudItem xs="6" Style="padding-top: 4px;">
                                <MudChip T="string" Variant="Variant.Outlined" Size="AppStateStatic.Size" Style="width: 100%; justify-content: space-between;">
                                    <div>
                                        <span>@($"{Weather?.Data?.Current?.GetTemp(Temperature):+0;-0;0} {ScaleSymbol}")</span>
                                    </div>
                                    <MudIcon Icon="@GetIcon(Weather?.Data?.Current?.temp_c)" Style="@($"margin-inline: -6px; {GetColor(Weather?.Data?.Current?.temp_c)}")"></MudIcon>
                                </MudChip>
                            </MudItem>
                            @* Feels Like *@
                            <MudItem xs="6" Style="padding-top: 4px;">
                                <MudChip T="string" Variant="Variant.Filled" Size="AppStateStatic.Size" Style="width: 100%;">
                                    @GlobalTranslations.FeelsLike
                                </MudChip>
                            </MudItem>
                            <MudItem xs="6" Style="padding-top: 4px;">
                                <MudChip T="string" Variant="Variant.Outlined" Size="AppStateStatic.Size" Style="width: 100%; justify-content: space-between;">
                                    <div>
                                        <span>@($"{Weather?.Data?.Current?.GetFeelsLike(Temperature):+0;-0;0} {ScaleSymbol}")</span>
                                    </div>
                                    <MudIcon Icon="@GetIcon(Weather?.Data?.Current?.feels_like_c)" Style="@($"margin-inline: -6px; {GetColor(Weather?.Data?.Current?.feels_like_c)}")"></MudIcon>
                                </MudChip>
                            </MudItem>
                            @* Condition *@
                            <MudItem xs="6" Style="padding-top: 4px;">
                                <MudChip T="string" Variant="Variant.Filled" Size="AppStateStatic.Size" Style="width: 100%;">
                                    @GlobalTranslations.Condition
                                </MudChip>
                            </MudItem>
                            <MudItem xs="6" Style="padding-top: 4px;">
                                <MudChip T="string" Variant="Variant.Outlined" Size="AppStateStatic.Size" Style="width: 100%; justify-content: space-between;">
                                    <MudTooltip Text="@Weather?.Data?.Current?.condition_text">
                                        <span>@($"{Weather?.Data?.Current?.condition_text?.Truncate(25)}")</span>
                                    </MudTooltip>
                                    <MudImage Src="@Weather?.Data?.Current?.condition_icon" Style="margin-inline: -10px; height: 30px;"></MudImage>
                                </MudChip>
                            </MudItem>
                        </MudGrid>
                    </MudTabPanel>
                    <MudTabPanel Text="@DateTime.Now.AddMonths(1).ToString("MMMM (yyyy)")">
                        <MudGrid Spacing="@Css.SpaceSmall">
                            @* Temperature *@
                            <MudItem xs="6" Style="padding-top: 4px;">
                                <MudChip T="string" Variant="Variant.Filled" Size="AppStateStatic.Size" Style="width: 100%;">
                                    Temperature
                                </MudChip>
                            </MudItem>
                            <MudItem xs="6" Style="padding-top: 4px;">
                                <MudChip T="string" Variant="Variant.Outlined" Size="AppStateStatic.Size" Style="width: 100%; justify-content: space-between;">
                                    <div>
                                        <span>@($"{Weather?.Data?.Month1?.GetTemp(Temperature):+0;-0;0} {ScaleSymbol}")</span>
                                    </div>
                                    <MudIcon Icon="@GetIcon(Weather?.Data?.Month1?.temp_c)" Style="@($"margin-inline: -6px; {GetColor(Weather?.Data?.Month1?.temp_c)}")"></MudIcon>
                                </MudChip>
                            </MudItem>
                            @* Feels Like *@
                            <MudItem xs="6" Style="padding-top: 4px;">
                                <MudChip T="string" Variant="Variant.Filled" Size="AppStateStatic.Size" Style="width: 100%;">
                                    Feels Like
                                </MudChip>
                            </MudItem>
                            <MudItem xs="6" Style="padding-top: 4px;">
                                <MudChip T="string" Variant="Variant.Outlined" Size="AppStateStatic.Size" Style="width: 100%; justify-content: space-between;">
                                    <div>
                                        <span>@($"{Weather?.Data?.Month1?.GetFeelsLike(Temperature):+0;-0;0} {ScaleSymbol}")</span>
                                    </div>
                                    <MudIcon Icon="@GetIcon(Weather?.Data?.Month1?.feels_like_c)" Style="@($"margin-inline: -6px; {GetColor(Weather?.Data?.Month1?.feels_like_c)}")"></MudIcon>
                                </MudChip>
                            </MudItem>
                            @* Condition *@
                            <MudItem xs="6" Style="padding-top: 4px;">
                                <MudChip T="string" Variant="Variant.Filled" Size="AppStateStatic.Size" Style="width: 100%;">
                                    Condition
                                </MudChip>
                            </MudItem>
                            <MudItem xs="6" Style="padding-top: 4px;">
                                <MudChip T="string" Variant="Variant.Outlined" Size="AppStateStatic.Size" Style="width: 100%; justify-content: space-between;">
                                    <MudTooltip Text="@Weather?.Data?.Month1?.condition_text">
                                        <span>@($"{Weather?.Data?.Month1?.condition_text?.Truncate(25)}")</span>
                                    </MudTooltip>
                                    <MudImage Src="@Weather?.Data?.Month1?.condition_icon" Style="margin-inline: -10px; height: 30px;"></MudImage>
                                </MudChip>
                            </MudItem>
                        </MudGrid>
                    </MudTabPanel>
                    <MudTabPanel Text="@DateTime.Now.AddMonths(2).ToString("MMMM (yyyy)")">
                        <MudGrid Spacing="@Css.SpaceSmall">
                            @* Temperature *@
                            <MudItem xs="6" Style="padding-top: 4px;">
                                <MudChip T="string" Variant="Variant.Filled" Size="AppStateStatic.Size" Style="width: 100%;">
                                    Temperature
                                </MudChip>
                            </MudItem>
                            <MudItem xs="6" Style="padding-top: 4px;">
                                <MudChip T="string" Variant="Variant.Outlined" Size="AppStateStatic.Size" Style="width: 100%; justify-content: space-between;">
                                    <div>
                                        <span>@($"{Weather?.Data?.Month2?.GetTemp(Temperature):+0;-0;0} {ScaleSymbol}")</span>
                                    </div>
                                    <MudIcon Icon="@GetIcon(Weather?.Data?.Month2?.temp_c)" Style="@($"margin-inline: -6px; {GetColor(Weather?.Data?.Month2?.temp_c)}")"></MudIcon>
                                </MudChip>
                            </MudItem>
                            @* Feels Like *@
                            <MudItem xs="6" Style="padding-top: 4px;">
                                <MudChip T="string" Variant="Variant.Filled" Size="AppStateStatic.Size" Style="width: 100%;">
                                    Feels Like
                                </MudChip>
                            </MudItem>
                            <MudItem xs="6" Style="padding-top: 4px;">
                                <MudChip T="string" Variant="Variant.Outlined" Size="AppStateStatic.Size" Style="width: 100%; justify-content: space-between;">
                                    <div>
                                        <span>@($"{Weather?.Data?.Month2?.GetFeelsLike(Temperature):+0;-0;0} {ScaleSymbol}")</span>
                                    </div>
                                    <MudIcon Icon="@GetIcon(Weather?.Data?.Month2?.feels_like_c)" Style="@($"margin-inline: -6px; {GetColor(Weather?.Data?.Month2?.feels_like_c)}")"></MudIcon>
                                </MudChip>
                            </MudItem>
                            @* Condition *@
                            <MudItem xs="6" Style="padding-top: 4px;">
                                <MudChip T="string" Variant="Variant.Filled" Size="AppStateStatic.Size" Style="width: 100%;">
                                    Condition
                                </MudChip>
                            </MudItem>
                            <MudItem xs="6" Style="padding-top: 4px;">
                                <MudChip T="string" Variant="Variant.Outlined" Size="AppStateStatic.Size" Style="width: 100%; justify-content: space-between;">
                                    <MudTooltip Text="@Weather?.Data?.Month2?.condition_text">
                                        <span>@($"{Weather?.Data?.Month2?.condition_text?.Truncate(25)}")</span>
                                    </MudTooltip>
                                    <MudImage Src="@Weather?.Data?.Month2?.condition_icon" Style="margin-inline: -10px; height: 30px;"></MudImage>
                                </MudChip>
                            </MudItem>
                        </MudGrid>
                    </MudTabPanel>
                </ChildContent>
            </MudTabs>
        </RenderControl>
    </BodyFragment>
</PageSectionComponent>

@code {
    [Parameter][EditorRequired] public string? City { get; set; }

    public ComponentActions<CacheDocument<WeatherModel>?> Actions { get; set; } = new(obj => obj?.Data == null);
    private CacheDocument<WeatherModel>? Weather { get; set; }

    private readonly CultureInfo UsCulture = CultureInfo.CreateSpecificCulture("en-US");

    public Temperature? Temperature { get; set; }
    public string? ScaleSymbol => Temperature == NS.Shared.Enums.Temperature.Fahrenheit ? "°F" : "°C";

    private int index;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        AppStateStatic.TemperatureChanged += temp => { Temperature = temp; StateHasChanged(); };
    }

    protected override async Task ProcessInitialData()
    {
        Temperature = await AppStateStatic.GetTemperature(JsRuntime, cts.Token);
    }

    protected override async Task ProcessComponentData()
    {
        if (City.NotEmpty()) Weather = await CacheWeatherApi.GetWeather(City, "compact", Actions, cts.Token);
    }

    private string? GetIcon(double? tempC)
    {
        if (tempC == null) return IconsFA.Solid.Icon("xmark").Font;

        double t = tempC.Value;

        string icon;

        var value = t.CalculateThermalComfortScore();

        if (value >= 8) icon = "face-grin-stars";
        else if (value >= 6) icon = "face-smile-beam";
        else if (value >= 4) icon = "face-meh";
        else if (value >= 2) icon = "face-frown";
        else icon = "face-dizzy";

        return IconsFA.Solid.Icon(icon).Font;
    }

    private string GetColor(double? tempC)
    {
        if (tempC == null) return "color: inherit;";

        double t = tempC.Value;

        int bucket;

        var value = t.CalculateThermalComfortScore();

        if (value >= 8) bucket = 4;
        else if (value >= 6) bucket = 3;
        else if (value >= 4) bucket = 2;
        else if (value >= 2) bucket = 1;
        else bucket = 0;

        var colors = new[]
        {
            "rgb(255, 63, 95)",   // very bad
            "rgb(255, 122, 82)",  // bad
            "rgb(255, 181, 69)",  // medium
            "rgb(173, 192, 88)",  // good
            "rgb(61, 203, 108)"   // optimal
        };

        return $"color: {colors[bucket]};";
    }

}