@page "/profile"

@using NS.Shared.Resources.Enum
@using NS.WEB.Modules.Country.Core
@using NS.WEB.Modules.Profile.Components
@using NS.WEB.Modules.Profile.Core
@using NS.WEB.Modules.Profile.Resources
@using NS.WEB.Modules.Subscription.Core
@inherits PageCore<Profile>

@inject AllRegionsApi AllRegionsApi

@inject WishListApi WishListApi

<SeoHeader Title="@SeoTranslations.ProfileTitle" Description="@SeoTranslations.ProfileDescription" Url="/profile" Index="false" Keywords="@([])"></SeoHeader>

@* <GoogleAdSense Section="@GoogleAdSense.AdUnit.Profile" Format="horizontal"></GoogleAdSense> *@

<MudGrid Spacing="@Css.SpaceSmall" Class="mb-8">   
    <MudItem xs="6" md="3">
        <MudPaper Outlined="true" Class="pa-1">
            <div class="d-flex" style="align-self: center;">
                <MudIcon Icon="@IconsFA.Solid.Icon("plane-circle-exclamation").Font" Color="Color.Primary" Class="me-2"></MudIcon>
                <MudText Typo="Typo.subtitle1" Color="Color.Primary">
                    Wishlist
                </MudText>
            </div>
            <MudChip T="string" Color="Color.Secondary" Label="true" Style="padding: 0.2rem; height: auto;" Size="AppStateStatic.Size">
                @(WishList?.Items.Select(p => p.RegionCode).Distinct().Count()) Regions
            </MudChip>
            <MudChip T="string" Color="Color.Secondary" Label="true" Style="padding: 0.2rem; height: auto;" Size="AppStateStatic.Size">
                @(WishList?.Items.Select(p => p.CityCode).Distinct().Count()) Cities
            </MudChip>
        </MudPaper>
    </MudItem>
    <MudItem xs="6" md="3">
        <MudPaper Outlined="true" Class="pa-1">
            <div class="d-flex" style="align-self: center;">
                <MudIcon Icon="@IconsFA.Solid.Icon("plane-circle-check").Font" Color="Color.Primary" Class="me-2"></MudIcon>
                <MudText Typo="Typo.subtitle1" Color="Color.Primary">
                    Next Destinations
                </MudText>
            </div>
            <MudChip T="string" Color="Color.Secondary" Label="true" Style="padding: 0.2rem; height: auto;" Size="AppStateStatic.Size">
                @(NextDestinations?.Items.Select(p => p.RegionCode).Distinct().Count()) Regions
            </MudChip>
            <MudChip T="string" Color="Color.Secondary" Label="true" Style="padding: 0.2rem; height: auto;" Size="AppStateStatic.Size">
                @(NextDestinations?.Items.Select(p => p.CityCode).Distinct().Count()) Cities
            </MudChip>
        </MudPaper>
    </MudItem>
    <MudItem xs="6" md="3">
        <MudPaper Outlined="true" Class="pa-1">
            <div class="d-flex" style="align-self: center;">
                <MudIcon Icon="@IconsFA.Solid.Icon("clock-rotate-left").Font" Color="Color.Primary" Class="me-2"></MudIcon>
                <MudText Typo="Typo.subtitle1" Color="Color.Primary">
                    Travel History
                </MudText>
            </div>
            <MudChip T="string" Color="Color.Secondary" Label="true" Style="padding: 0.2rem; height: auto;" Size="AppStateStatic.Size">
                @(TravelHistory?.Items.Select(p => p.RegionCode).Distinct().Count()) Regions
            </MudChip>
            <MudChip T="string" Color="Color.Secondary" Label="true" Style="padding: 0.2rem; height: auto;" Size="AppStateStatic.Size">
                @(TravelHistory?.Items.Select(p => p.CityCode).Distinct().Count()) Cities
            </MudChip>
        </MudPaper>
    </MudItem>
    <MudItem xs="6" md="3">
        <MudPaper Outlined="true" Class="pa-1">
            <div class="d-flex" style="align-self: center;">
                <MudIcon Icon="@IconsFA.Solid.Icon("clock-rotate-left").Font" Color="Color.Primary" Class="me-2"></MudIcon>
                <MudText Typo="Typo.subtitle1" Color="Color.Primary">
                    xxx
                </MudText>
            </div>
            <MudChip T="string" Color="Color.Secondary" Label="true" Style="padding: 0.2rem; height: auto;" Size="AppStateStatic.Size">
                @(0) yyy
            </MudChip>
            <MudChip T="string" Color="Color.Secondary" Label="true" Style="padding: 0.2rem; height: auto;" Size="AppStateStatic.Size">
                @(0) yyy
            </MudChip>
        </MudPaper>
    </MudItem>
</MudGrid>

<MudGrid Spacing="@Css.SpaceSmall">
    <MudItem xs="12" md="6">
        <WishlistComponent AllRegions="AllRegions" Actions="WishListActions"></WishlistComponent>
    </MudItem>
    <MudItem xs="12" md="6">
        <NextDestinationsComponent AllRegions="AllRegions" Actions="NextDestinationsActions"></NextDestinationsComponent>
    </MudItem>
</MudGrid>

<MudGrid Spacing="@Css.SpaceSmall">
    <MudItem xs="12" md="6">
        <TravelHistoryComponent AllRegions="AllRegions" Actions="TravelHistoryActions"></TravelHistoryComponent>
    </MudItem>
    <MudItem xs="12" md="6">
        <NewPageSection Icon="@IconsFA.Solid.Icon("thumbs-up").Font" Title="My Suggestions">
            <ActionsFragment>
                <MudSpacer></MudSpacer>
                <MudIconButton Icon="@IconsFA.Solid.Icon("refresh").Font" Variant="Variant.Filled" Class="me-2" Disabled="true" />
                <MudIconButton Icon="@IconsFA.Solid.Icon("filter").Font" Variant="Variant.Filled" Disabled="true" />
            </ActionsFragment>
            <BodyFragment>
                <FeatureUnavailable></FeatureUnavailable>
            </BodyFragment>
        </NewPageSection>
    </MudItem>
</MudGrid>

<NewPageSection Icon="@IconsFA.Solid.Icon("bell").Font" Title="Notifications">
    <BodyFragment>
        <FeatureUnavailable></FeatureUnavailable>
    </BodyFragment>
</NewPageSection>

@code {
    private AllRegions? AllRegions { get; set; }

    private readonly ComponentActions<TravelHistory?> TravelHistoryActions = new();
    private readonly ComponentActions<WishList?> WishListActions = new();
    private readonly ComponentActions<NextDestinations?> NextDestinationsActions = new();

    private TravelHistory? TravelHistory { get; set; }
    private WishList? WishList { get; set; }
    private NextDestinations? NextDestinations { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        TravelHistoryActions.FinishLoading += (data) => { TravelHistory = data; StateHasChanged(); };
        WishListActions.FinishLoading += (data) => { WishList = data; StateHasChanged(); };
        NextDestinationsActions.FinishLoading += (data) => { NextDestinations = data; StateHasChanged(); };
    }


    protected override async Task LoadEssentialDataAsync()
    {
        AllRegions = await AllRegionsApi.GetAll();
    }
}
